[2018-12-02 05:08] ekluzek commented on #457
We do have access to LAPACK in CTSM and there's a subroutine called lasrt in there.  There might be other home grown sort routines as well. Since, your lists are going to be short, it doesn't matter too much what algorithm is used. But, good to use something that's well done and already vetted...

[2018-12-02 12:30] billsacks commented on #457
Regarding sorting, @ekluzek 's suggestion of using lasrt seems like a good one. I hadn't realized that existed, but seeing http://www.netlib.org/lapack/explore-3.1.1-html/dlasrt.f.html#DLASRT.1 this seems like as good a choice as any.

[2018-12-02 13:52] billsacks commented on #457
Actually, regarding sort: I realized that most out-of-the-box sorting routines (including this lapack one) won't do exactly what you want: Most sorting routines just sort the data, but don't tell you the resulting dominant indices into the data. So I think it's easier to roll our own here rather than trying to dig up a routine that does exactly what we want. I just whipped something up: see https:

[2018-12-02 17:59] billsacks commented on #457
I added a commit to my branch and turned it into a PR for easier reviewing: see #583

[2018-12-02 21:10] slevisconsulting commented on #457
@billsacks two questions about merging your branch into mine:

1) I have uncommitted mods in my branch. Do I need to commit them before merging your branch into mine? Not that this would be a problem; just that I would have likely kept developing before committing.
2) The merge itself should look like this?
`git merge 15bf89c`

[2018-12-03 02:57] billsacks commented on #457
I think it's possible to do a merge when you have uncommitted changes, but it's not recommended. From `git help merge`:

[code]

The general recommendation is to either (1) commit or (2) stash your changes before merging.

Regarding option (2): have you used `git stash` before? I'll admit that I often get tripped up when trying to use it, but it can be helpful in this case. The main way I get trip

[2018-12-03 18:53] #81 closed

[2018-12-03 19:00] billsacks commented on #81
@ekluzek I see you put milestone cesm2.1.1 on this. Note that it was fixed in ctsm1.0.dev020, but that tag won't come to the release branch, so if you want it on the release branch, the relevant changes in histFileMod will need to be ported over.

[2018-12-03 20:20] slevisconsulting commented on #457
Ok, merge complete. (I was only conceptually aware of git stash before.) Thanks!

[2018-12-03 21:41] billsacks commented on #26
One thing we do a lot is have error-checking code saying something like "foo should only be specified if bar = X", or maybe "having foo = Y is only possible if bar = X". I could imagine encoding this in the xml if we allow arbitrary python code in the xml. For example, we could have elements like <can_only_be_specified_if> (in the above case, that would have the value "bar == X") and/or <value_req

[2018-12-03 21:54] billsacks opened #585 "Rewrite CLMBuildNamelist.pm in python"
We want to rewrite CLMBuildNamelist.pm in python. This is partly necessary in order to support our long-term goal of having parameters read from a netcdf file rather than a fortran namelist. But it's also important in order to take advantage of new features in the cime python namelist generation utilities.

[2018-12-03 21:59] billsacks commented on #585
I'm a fan of doing as much as possible incrementally, rather than via a giant big bang rewrite. To this end: I wonder if it would be possible to incrementally migrate the perl to python. I'm imagining:

- The top-level build-namelist script would call the perl CLMBuildNamelist.pm and then the python CLMBuildNamelist.py. Each would create its own subset of the namelist. Then the top-level script wo

[2018-12-04 20:11] billsacks commented on #545
The necessary mksurfdata_map changes are implemented in #564 . We also will need updated surface datasets generated with the new mksurfdata_map. As noted in https://github.com/ESCOMP/ctsm/pull/564#issuecomment-444239748, we want these both on master and on the clm5 release branch. @ekluzek has agreed to do that, so I'm assigning this issue to him for this remaining piece.

[2018-12-04 20:53] billsacks commented on #585
@ekluzek this might be a good thing for us to pair program, at least for portions of it. So I'm also assigning myself.

[2018-12-04 20:55] ekluzek commented on #585
This approach does make sense to me as well, as a way to make the conversion incremental, which is probably the only way we can see it happen. We originally talked about doing this months ago, and we haven't really been able to look at it (at least I haven't).

[2018-12-04 20:58] billsacks commented on #585
Thinking more about the incremental strategy I laid out: One potential problem is this: It would be really good if we can leverage the NLCOMPs in the test suite to determine if anything is unexpected (while most namelist differences would cause baseline comparison failures, some, like differences in hist field lists, would not). One possible way around this would be: after concatenating the perl a

[2018-12-04 23:30] slevisconsulting commented on #457
Nothing committed, yet.
Made first attempt to build; corrected errors.
Second attempt to build thwarted by unscheduled cheyenne outage.

Here's a quick summary of work so far:

1) clm_varpar.F90
`+  ! TODO User will set n_dom_soil_patches in namelist`
`+  ! Namelist scripts or model code will:`
`+  ! Default n_dom_soil_patches to maxsoil_patches determined from input data`
`+  integer, public :: n

[2018-12-05 22:13] billsacks commented on #569
For (unusual) options like glacier region behaviors, where there can be a different option for each region: If all behaviors are already included by default for at least one region, then we're probably fine; if not, then we could have, e.g., `test_option1` sets the behavior to X (where X is some otherwise-untested behavior) in all regions (i.e., all array elements).

[2018-12-05 22:17] chance-nelson opened #587 "CIME models require NETCDF in PIO build"
### Details of support request

I am attempting to build a sample case in a Singularity container, but I am receiving errors concerning PNETCDF in the *case.build* step. I am not sure if I have an incorrect version of netcdf, or if I am simply pointing to the wrong directory. Any help would be appreciated!

### Important details of your setup / configuration so we can better assist you

**Machine

[2018-12-06 22:52] slevisconsulting commented on #457
Updates and discussion will continue in #588.

[2018-12-07 00:59] ekluzek opened #589 "Existence of content in the lai_streams namelist makes it confusing to users"
This came up with Charles Bardeen and some others. They were confused about the content of the lai_streams namelist as it wasn't being used in their case (SP case with use_lai_streams=F)

[code]

The fact that it has values filled in makes it seem like this is important, when in fact it is not. It would be be better to not fill in the namelist, unless use_lai_streams=T.

[2018-12-07 05:27] klindsay28 opened #590 "sporadic large CO2 uptake causing coupled CLM_CO2_TYPE=prognostic run to abort"
### Details of support request

I'm doing a coupled model run using CLM_CO2_TYPE=prognostic with CESM2.
The run is aborting a few years in with the error message and stack traceback:
239: ENDRUN:
239: ERROR:
239: lnd_import                       ERROR: CO2 is outside of an expected range
239:Image              PC                Routine            Line        Source
239:cesm.exe           000000000

[2018-12-07 13:07] wwieder commented on #590
I can look at this when I get in today, @klindsay28.  To my knowledge, this is something we haven't seen in offline simulations, but I guess we wouldn't have that abort flag when running with prescribed CO2? @ekluzek what was similar behavior the motivation for #427 in the first place?

[2018-12-07 14:18] rosiealice commented on #590
I've never seen anything like that either, and second what Dave said, we'd probably expect to see it... Very strange :/

[2018-12-07 16:04] klindsay28 commented on #590
<img width="823" alt="ar_0e_40e_35n_55n_3days" src="https://user-images.githubusercontent.com/15570875/49657859-d9bec380-f9fd-11e8-9e25-95dfc87ae131.png">
Attached is a figure of AR integrated over 0E-40E, 35N-55N.
AR is sampled every timestep, and plotted for 3 days preceding the abort.
There are numerous dips that correspond to negative AR somewhere in this domain.
Because of their short duratio

[2018-12-07 16:10] wwieder commented on #590
There are a few points in the code that might generate these negative AR fluxes
https://github.com/ESCOMP/ctsm/blob/7755baf3f729ff9adb0e39088c02113bbc9ebb58/src/biogeochem/CNVegCarbonFluxType.F90#L4121 (when the crop model is on)
or
https://github.com/ESCOMP/ctsm/blob/7755baf3f729ff9adb0e39088c02113bbc9ebb58/src/biogeochem/CNVegCarbonFluxType.F90#L4129 (when fun is active).

I'm not sure what eith

[2018-12-07 16:18] klindsay28 commented on #590
If you run into issues with the cloning, I’d be happy to rerun my case with
additional output.

On Fri, Dec 7, 2018 at 9:10 AM will wieder <notifications@github.com> wrote:

[2018-12-07 16:19] wwieder commented on #590
@slevisconsulting and @danicalombardozzi, do you have any old memories of what is being done with xsmr fluxes in the crop model?  I'll trace this through the code, but am curious how or why we're handling AR fluxes differently in the crop model?

[2018-12-07 18:12] danicalombardozzi commented on #590
I don't have any old memories of this, but Bin Peng and Maoyi Huong have
both encountered problems with very negative NEE during crop harvest. Bin
implemented a fix previously that constrained the xsmrpool_to_atm>=0.
Maoyi's student tried to implement this fix in CLM5 but got carbon balance
errors. I haven't followed up with them (this came to my attention right
before travel and then fell off my

[2018-12-07 18:32] wwieder commented on #590
This feature is also evident in the offline CLM5 runs we've done and can likely be seen in the monthly .h0. history files where we have negative AR in some grids for particular months.  This is June 1851 from Pete's recent simulation i.e21.IHIST.f09_g17.CMIP6-land-hist.001
![ar_clm5_offline](https://user-images.githubusercontent.com/8031012/49665930-be5eb300-fa13-11e8-8354-8a1646dca5b8.png)

[2018-12-07 18:39] jinyuntang commented on #590
I am not sure if this is the same thing I experienced with ELM, but I found the algorithm in carbon allocation could lead to negative litter fluxes in some circumstances. So I guess clm has the same problem given its similarities with ELM. I fixed in my ELM branch with the multiflux limiter I presented tow years ago at the land bgc meeting.
   Jinyun

Sent from my iPhone

[2018-12-07 18:45] wwieder commented on #590
At harvest, any C in the xsmr pool will go to the atmosphere.
https://github.com/ESCOMP/ctsm/blob/7755baf3f729ff9adb0e39088c02113bbc9ebb58/src/biogeochem/dynHarvestMod.F90#L342
Globally, this pool is large, and very negative.  @ckoven, I know you've looked at this.  Can you shed any light into what's going on here? Why?
![xsmr_pool_clm5_offline](https://user-images.githubusercontent.com/8031012/49

[2018-12-07 18:56] wwieder commented on #590
It wouldn't fix the underlying issue, but would a quick fix be to apply something like the hrv_xsmrpool_to_atm_dribbler to smooth out how the atmosphere sees this negative C flux?  @billsacks maybe you can commend on what the 'dribbler' is supposed to do?
https://github.com/ESCOMP/ctsm/blob/7755baf3f729ff9adb0e39088c02113bbc9ebb58/src/biogeochem/CNVegCarbonFluxType.F90#L745

Alternatively, could w

[2018-12-07 20:20] wwieder commented on #590
Oner more thought on this, @ckoven maybe you have thoughts here?  Would allowing a quicker recovery of the xsmrpool potentially alleviate these negative AR fluxes with harvest?  this could be done by changing the daysrecover parameter (currently set to 30 days).  The issue here, is we'll also be changing global C fluxes, by modifying the calculation of availc. @dlawrenncar , I'd guess this is a no

[2018-12-07 20:20] dlawrenncar commented on #590
Neither of these solutions is likely to solve the massive flux, right?
That is something different, like a divide by a near zero value or
something somewhere.

On Dec 7, 2018, at 1:56 PM, will wieder <notifications@github.com> wrote:

It wouldn't fix the underlying issue, but would a quick fix be to apply
something like the hrv_xsmrpool_to_atm_dribbler to smooth out how the
atmosphere sees this ne

[2018-12-07 21:52] wwieder commented on #590
@dlawrenncar & @danicalombardozzi I've gotten lost in the crop phenology code, but don't really understand why these fluxes are zeroed out in CNCStateUpdate1?  I'd assume that this is the flux giving us a large negative AR flux?

https://github.com/ESCOMP/ctsm/blob/7755baf3f729ff9adb0e39088c02113bbc9ebb58/src/biogeochem/CNCStateUpdate1Mod.F90#L480

[2018-12-07 22:02] wwieder commented on #590
@klindsay28  can you rerun your high frequency output simulations with this block of code around line 1540 of CNVegCarbonFluxType.F90?  I'd like to confirm that crop harvest is causing the negative AR fluxes and big drop in CO2 concentrations.

        this%ar_patch(begp:endp) = spval
        call hist_addfld1d (fname='AR', units='gC/m^2/s', &
             avgflag='A', long_name='autotrophic respi

[2018-12-07 22:50] klindsay28 commented on #590
Sure thing @wwieder. The run is now in progress.
I went ahead and added the new fields to the h1 and h2 tapes too (per pft and landunit respectively), just in case you want to see these terms subgridcell.

[2018-12-08 00:06] ckoven commented on #590
just got off a plane and saw this. nothing obvious comes to mind to me.

[2018-12-08 02:07] slevisconsulting commented on #590
Sorry for the delayed response, though I'm afraid I don't have suggestions at this time.

[2018-12-08 13:33] wwieder commented on #590
@klindsay28 's runs confirm that the large negative flux is coming from xsmrpool_to_atm_patch, which occurs at harvest in a single time step. You can see a map here
/glade/scratch/wwieder/negAR_test.nc

The magnitude of the negative flux is really big, compared to MR and GR fluxes, but could occur with XSMRPOOL ~ -20 gC/m2 (assuming 100% crop coverage over the gridcell).

It seems this is the code

[2018-12-08 13:40] dlawrenncar commented on #590
@wwieder Recalling @klindsay28's statement at the beginning of thread.  The atmospheric CO2 drops down to something like 4ppm.  A huge, huge drop, right?  Maybe I am not understanding something, but if we dribbled the negative AR flux out over a year, we would still see a massive drop in CO2.  My guess is still that what is happening here in the crash is an extreme version with a crazy high negati

[2018-12-08 14:03] klindsay28 commented on #590
@dlawrenncar, I think dribbling has the potential to be effective.
While there was an O(280) ppm drop in a2x_Sa_coprog, this was at a single grid cell. The blip that led to the abort occurred at local night, so I suspect that the effect of the CO2 uptake was concentrated into a shallow boundary layer, enhancing the effect's magnitude. If the flux were dribbled out over time, it would give atmosphe

[2018-12-08 14:06] dlawrenncar commented on #590
@klindsay28 Thanks Keith.  Yes, after discussing with Will just now, we agree with you that the flux dribbler this has the potential to solve the issue.  @olyson Can you attempt to implement the flux dribbler solution this week?  Longer term, we need to resolve the accumulation/occurrence of negative XSMRPOOL.  Jinyun has thoughts about that so we will follow up with him.

[2018-12-08 14:49] rosiealice commented on #590
That's a good point, about the shallow boundary layer. I was beginning to
think everything was perhaps broken/ suffering massive silent XSMR issues...

n.b. that in FATES I resolved this (large carbon deficits killing things
too much in marginal/seasonal/inter-annually varying places) by only
allowing some (parameterized) fraction of the C demand from tissue turnover
to be met, and allowing the re

[2018-12-08 15:39] klindsay28 commented on #590
The line of code pointed to by @wwieder in [CNCStateUpdate1Mod.F90](https://github.com/ESCOMP/ctsm/blob/master/src/biogeochem/CNCStateUpdate1Mod.F90#L480) is preceded with the block of comments below. It's not clear to me if the concerns mentioned in these comments are applicable to xsmrpool. If so, it might be prudent to keep on eye on isotopes when dribbling is enabled. (The coupled runs do have

[2018-12-08 15:46] wwieder commented on #590
one more favor @klindsay28 can you repeat the high run one more time with XSMRPOOL added to the h1 and h2 files?  I'd like to see how big some of the crop XSMRPOOLs get?

[2018-12-08 16:50] klindsay28 commented on #590
Sure. The rerun with XSMRPOOL in the h1 and h2 files is complete.

[2018-12-09 13:34] wwieder commented on #590
Here's a snapshot of XSMR pools in the time step just before the model crashes.  I'm suspecting many of the zero values are regions where harvest has already occurred for the growing season, but locally XSMR pools can be fairly large with particular crop types.
[b.e21.B1850_BPRP.f09_g17.CMIP6-piControl.tst.001_CropXSMRPOOL_0004-09-28-00000.pdf](https://github.com/ESCOMP/ctsm/files/2660578/b.e21.B1

[2018-12-09 13:36] wwieder commented on #590
same as above, but hopefully with display in the issue?
![b e21 b1850_bprp f09_g17 cmip6-picontrol tst 001_cropxsmrpool_0004-09-28-00000](https://user-images.githubusercontent.com/8031012/49698103-b706e900-fb7c-11e8-9109-d50ddab0b20b.png)

[2018-12-10 03:47] olyson commented on #590
Ok, as soon as I figure out what a flux dribbler is...

[2018-12-10 04:52] ekluzek commented on #590
@olyson @billsacks can give more details on this. But, basically a flux dribbler takes the yearly land-use change flux and "dribbles" it over the year. So instead of doing a once a year big whack it's done more slowly.

[2018-12-10 12:55] billsacks commented on #590
Sorry, I missed the earlier query to me about the flux dribbler. I haven't followed this whole discussion, but from a skim through it, I don't think the dribbler solution is appropriate here: These annual flux dribblers are designed for one particular purpose, which is to smooth fluxes that are generated at the first time step of the year. They are unable to handle fluxes generated at any other po

[2018-12-10 13:18] wwieder commented on #590
Seems like it makes sense to handle this XSMR pool as we are grain harvest in UpdateProducts as suggested by @billsacks.  This requires generating a new pool to handle harvested XSMR and since we don't want to generate another large negative C pool over time maybe it should have even a faster decay rate, roughly 0.5 years?

kprod05  = 1.44e-7

Does this plan seem reasonable @dlawrenncar & @olyson?

[2018-12-10 16:48] dlawrenncar commented on #590
That seems like a potentially reasonable idea to add this to the crop 1yr
product pool or to setup a new 1yr pool if we want to avoid messing with
the crop product pool.

On Dec 10, 2018, at 7:55 AM, Bill Sacks <notifications@github.com> wrote:

Sorry, I missed the earlier query to me about the flux dribbler. I haven't
followed this whole discussion, but from a skim through it, I don't think
the d

[2018-12-10 17:37] olyson commented on #590
I'm not sure I understand how to do this, but I thought I'd start by showing some pseudo-code below that people can comment on (this is in CNCStateUpdate1Mod.F90).  Although it seems like this would break carbon balance.

         if (ivt(p) >= npcropmin) then ! skip 2 generic crops
            cs_veg%xsmrpool_patch(p) = cs_veg%xsmrpool_patch(p) - cf_veg%livestem_xsmr_patch(p)*dt
            cs_ve

[2018-12-10 19:45] ekluzek commented on #182
Note, that this mechanism was inadvertently turned on in for 1850 control simulations. Since, the default is for 1850 conditions, it really didn't need to be. It only causes a problem if you run for more than 1850 years though. But, there were some simulations that ran for that long.

[2018-12-10 20:18] ekluzek opened #592 "Use of C13/C14 timeseries for non-transient control cases gives incorrect input when run long enough"
### Brief summary of bug

Some 1850 control simulations with Carbon isotopes turned on the C13/C14 time-series files. Any of these simulations that ran for more than 1850 would have used the wrong values for the carbon isotopes.

### General bug information

**CTSM version you are using:** any version

**Does this bug cause significantly incorrect results in the model's science?** Yes (for C13/C14

[2018-12-11 17:31] billsacks commented on #495
Also want to cover some physics options that aren't covered by default, but which impact water fluxes / state updates - for example, groundwater irrigation.

[2018-12-11 22:21] billsacks opened #593 "Generalize groundwater irrigation availability to handle multiple patches per column"
Groundwater irrigation (introduced by @swensosc in ctsm1.0.dev020) will compute the wrong water availability if there are multiple irrigated patches in a single column. Currently this is never the case, but the code should be flexible enough to handle this case.

The problem is in this block of code:

https://github.com/ESCOMP/ctsm/blob/7755baf3f729ff9adb0e39088c02113bbc9ebb58/src/biogeophys/Irrig

[2018-12-11 22:22] billsacks commented on #593
@swensosc I'm tentatively assigning this to you to at least think about. I'm happy to talk with you more about it.

[2018-12-11 22:45] billsacks commented on #593
Upon further thought, the current behavior is probably okay (I think it leads to irrigation withdrawals being potentially overconstrained, but not undersconstrained as far as I can see), and making this better than it currently is could be tricky. So I'm closing this as a wontfix.

[2018-12-12 13:11] billsacks commented on #521
With the groundwater irrigation extraction that @swensosc added in ctsm1.0.dev020, this calculation of irrigation tracer fluxes seems to be much more challenging. There are two factors leading to this challenge:

1. The code is written to compute the total irrigation withdrawal from groundwater, then use this to compute the application fluxes (drip/sprinkler), then later divide this total withdraw

[2018-12-12 19:19] rgknox opened #594 "is rsmax0 needed/redundant?"
(EDITED, I HAD MY MIN/MAXES FLIPPED)

rsmax0 is a cap that ensures stomatal resistance does not exceed a maximum (EDITED).  It is mostly found in the photosynthesis scheme, initialized here:

https://github.com/ESCOMP/ctsm/blob/master/src/biogeophys/PhotosynthesisMod.F90#L1573

It is applied after stomatal conductance is calculated, and I think that it is applied after stomatal conductance has bee

[2018-12-12 22:31] billsacks commented on #593
It turns out that the resolution of this issue falls out naturally in the course of resolving #521 . So I'm reopening this and assigning it to myself.

[2018-12-13 19:35] billsacks commented on #594
@olyson I'm tentatively assigning this to you to either answer yourself or reassign as you see fit.

[2018-12-13 19:40] billsacks opened #595 "Inconsistency between CalcAvailableUnconfinedAquifer and WithdrawGroundwaterIrrigation"
### Brief summary of bug

The code for calculating per-layer water availability is inconsistent between CalcAvailableUnconfinedAquifer and WithdrawGroundwaterIrrigation.

### General bug information

**CTSM version you are using:** ctsm1.0.dev020

**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:** Only configurations with groundwater ir

[2018-12-13 20:19] olyson commented on #594
I don't know the answer to this.  I'll have to check in with Gordon next week.

[2018-12-14 21:48] slevisconsulting commented on #457
For the record: I tested gnu standard testing with the calling order reversed and it PASSed.

However, you are correct @billsacks that I need to rework these. So in the end reordering the calls is not relevant.

[2018-12-14 22:38] billsacks opened #596 "Stop resetting wa_col to aquifer_water_baseline"
As @bishtgautam pointed out in #524 , we really shouldn't be resetting wa_col to aquifer_water_baseline here:

https://github.com/ESCOMP/ctsm/blob/7755baf3f729ff9adb0e39088c02113bbc9ebb58/src/biogeophys/BalanceCheckMod.F90#L197-L206

@swensosc and I talked quite a bit about this when he was working on his groundwater_irrigation changes, and we weren't sure of the implications of completely removin

[2018-12-14 22:40] billsacks commented on #596
@swensosc I'm tentatively assigning this to you to think about what we should do here - i.e., if we can simply remove it, or if we need to do something else so that CLM45 physics continues to work with this removed. Feel free to reassign if you don't feel you're the right one to tackle this.

[2018-12-14 22:42] billsacks commented on #524
@bishtgautam sorry this never received any comments from us. But I think we generally agree with the idea of removing it, so I have opened #596 . Did you guys ever determine if anything needs to be done in place of this code, or if it's safe to simply remove this block of code?

[2018-12-15 11:52] billsacks opened #597 "Try to improve performance of routines in subgridAveMod"
The routines in subgridAveMod get called a lot. Improving their performance by even a small amount could significantly improve performance of the whole model.

Before spending much time on this, we should put timers in these routines to time the total amount of time spent in them, to see if this is indeed a worthwhile endeavor. (However, we may need to be careful about this, because I've experienc

[2018-12-15 13:58] bishtgautam commented on #524
Simply removing the code block is safe.

[2018-12-15 13:59] billsacks commented on #524
Okay, thanks. I'll close this issue, just leaving #596 open.

[2018-12-15 13:59] #524 closed

[2018-12-15 14:00] billsacks commented on #596
@bishtgautam feels it's safe to simply remove this block of code (see #524).

[2018-12-17 16:53] ekluzek commented on #182
I've worked on this more and I want to list the issues with the current implementation. The starting year (1850) is hardcoded in, as well as that the time units will be in years. The number of sectors is hardcoded, as are the width of the bands. It will die if the number of sectors is wrong, but won't detect a change in the latitude band width. The time unit of years is considered a bad unit, beca

[2018-12-17 21:33] olyson commented on #594
I'm just adding an email exchange to this:

thanks Gordon.
It does seem so small that it will act as a numerical protection and not compromise results.

On Mon, Dec 17, 2018, 10:34 AM Gordon Bonan <bonan@ucar.edu wrote:
Ryan,

I cannot speak to FATES, but in CLM5 rsmax0 is used in PhotosynthesisMod. It provides a small minimum conductance so that conductance is not zero (which might cause problems

[2018-12-17 21:42] rgknox commented on #594
Thanks @olyson , I'm fine with closing this up if desired.

[2018-12-17 21:50] #594 closed

[2018-12-17 22:45] billsacks commented on #512
I'm setting the tracer concentration correctly for groundwater-based irrigation, but this still needs to be fixed for irrigation from surface water (i.e., rivers). I'm changing the issue title accordingly.

[2018-12-18 18:03] ekluzek commented on #182
One other problem (with the current dataset not necessarily in the code itself) is that you can't do ncview on the file: $DIN_LOC_ROOT/lnd/clm2/isotopes/atm_delta_C14_CMIP6_3x1_global_1850-2015_yearly_v2.0_c171012.nc. This is because of the metadata on the "sector" variable is incorrect for CF. Using flag_* attributes allows you to view the file in ncview.

[2018-12-19 14:38] wwieder commented on #590
Seems like this is as good as can be expected.  I'm assuming Keith
lindsay's case now continues without the co2 error?

On Wed, Dec 19, 2018, 7:26 AM Keith Oleson <notifications@github.com wrote:

[2018-12-19 14:55] olyson commented on #590
I'll give it a try.

[2018-12-19 17:59] olyson commented on #590
Keith's case ran to completion for 1 month.
The lowest a2x_Sa_coprog timestep value I see for the last five days of the month is 261.153 ppm.

[2018-12-19 18:17] wwieder commented on #590
seems like the fix is doing it's job. What do you think, Dave?

On Wed, Dec 19, 2018 at 10:59 AM Keith Oleson <notifications@github.com>
wrote:

--
Will Wieder
Project Scientist
CGD, NCAR
303-497-1352

[2018-12-20 05:00] klindsay28 commented on #590
Keith,
I'm setting up a new case with your mods.
CASEROOT=/glade/work/klindsay/cesm20_cases/B1850/b.e21.B1850_BPRP.f09_g17.CMIP6-piControl.tst.002
It is a hybrid off of the CMIP6 piControl. It's not clear to me what I should be doing regarding the new restart variables. After running preview_namelist, lnd_in the new case includes the line:
finidat = 'b.e21.B1850.f09_g17.CMIP6-piControl.001.clm2.r.

[2018-12-20 15:05] olyson commented on #590
The new case should be able to start from the above file even if you include the new restart variables.  My offline historical case starts from an initial file that doesn't have those restart variables on it.  So I would uncomment the lines in CNVegCarbonStateType.F90 and try it.

[2018-12-27 22:05] #357 closed

[2018-12-27 22:05] #459 closed

[2018-12-27 22:05] #508 closed

[2018-12-27 22:05] #541 closed

[2019-01-03 14:30] billsacks commented on #451
@ekluzek I plan to start tackling this soon. Regarding your last comment: who would be the appropriate person to weigh in on the jmaxb1 logic?

[2019-01-03 18:33] ekluzek commented on #451
@billsacks @rosiealice and @wwieder would be two people to check with about Jmaxb1. It is local to LunaMod, so really is tied to use_luna=T.

[2019-01-03 18:42] billsacks commented on #451
@rosiealice or @wwieder can one of you please confirm my feelings in point (2) in this comment

https://github.com/ESCOMP/ctsm/issues/451#issuecomment-408453399

i.e., is it correct that the presence of jmaxb1 in the namelist should only be tied to whether `use_luna` is true – so that it's included even if running with clm4_5 physics if use_luna is set to true?

[2019-01-03 20:00] olyson commented on #590
From Keith Lindsay:

The coupled model run with CLM mods to avoid the previous aborts is nearly out 40 years.
Good news: The fix appears to have solved the problem with the aborts.

Attached are some timeseries plots of globally averaged annual mean CO2 surface values and surface fluxes (+ up) (plots not attached here).
The lower panel has a 9 year filter.

It looks like the system might be stabil

[2019-01-03 20:02] olyson commented on #590
The land diagnostics for the coupled runs are here:

http://webext.cgd.ucar.edu/B1850/b.e21.B1850_BPRP.f09_g17.CMIP6-piControl.tst.002/lnd/b.e21.B1850_BPRP.f09_g17.CMIP6-piControl.tst.002.1_30-b.e21.B1850.f09_g17.CMIP6-piControl.001.501_530/setsIndex.html

The diagnostics for the 20-year land-only historical run I did are here:

http://webext.cgd.ucar.edu/I20TR/clm50_release-clm5.0.15_hrv_xsmrpool

[2019-01-03 20:14] olyson commented on #590
My branch for this is here:

https://github.com/olyson/ctsm/tree/hrv_xsmrpool_to_atm

I have done very limited testing just to make sure restarts work.  The following tests pass (or fail) as expected:

ERP_Ld5.f09_g17.I1850Clm50BgcCropCru.cheyenne_intel.clm-ciso
ERS_D_Ld10.f10_f10_musgs.IHistClm50SpG.cheyenne_intel.clm-glcMEC_decrease
ERS_D_Ld3.f09_g17_gl4.I1850Clm50BgcCrop.cheyenne_intel.clm-clm5

[2019-01-03 21:02] billsacks commented on #455
@ekluzek I'm starting to work on this (finally!). My initial sense is that we can remove much/all of buildcpp and configure (though I'll give these a closer look to see if anything needs to be maintained).

Once CLM4.0 is removed, `CLM_CONFIG_OPTS` will just be used for `-phys`. I propose introducing a new env_run.xml variable for this important option. I propose the name `CTSM_PHYSICS_VERSION` (t

[2019-01-03 21:11] ekluzek commented on #455
I think this makes sense. My initial thought was that the "-phys" option would move over to CLM_BLDNML_OPTS. But, I think you are right it should be it's own thing. In either case it would only affect "build-namelist", so could change at run-time.

I do wonder about starting to introduce env variables that start with CTSM. The current ones all start with CLM, so you can do "./xmlquery --partial CL

[2019-01-03 22:10] billsacks commented on #455
Thanks, @ekluzek . I don't want to tackle renaming all of the xml variables in this tag, so if you think consistency is important, I can go with `CLM_PHYSICS_VERSION` instead of `CTSM_PHYSICS_VERSION` for now.

[2019-01-03 22:20] klindsay28 commented on #590
Followup, based on conversation with @dlawrenncar
The default value for this new to-be-named namelist var controlling if these mods are to be activated should be based on the env_run.xml var CLM_CO2_TYPE. By default, the mods are activated if CLM_CO2_TYPE==prognostic, and the mods are not activated otherwise. Unless the user explicitly sets this nml var via user_nl_clm, answers should only change

[2019-01-03 22:51] rosiealice commented on #451
I think more generally that use-luna and clm4.5 shouldn't be mutually
compatible.

 It's only used if Luna is on, yes, but I feel like there are loads of
parameters in the parameter file that are only used, say, when flexcn is on
by itself, so I'm unsure why this one has special treatment. In my
sensitivity analysis paper I just finished  the fact that this (and non of
my other target  parameters)

[2019-01-03 23:01] billsacks commented on #451
@rosiealice sorry, I'm having trouble interpreting your answer. I think the takeaway here is that I can change

[code]

to simply

[code]

(Which I want to do to support the addition of an NWP physics option.)

But let me know if I'm misinterpreting your answer.

[2019-01-03 23:31] billsacks commented on #451
Yes, good enough for me - thanks. (For the record: I'm going to go ahead with my proposed change.)

At some point I'd like to have more discussion about your point (2):

This statement doesn't work for me, because (in my mind) the physics option (clm4_5 vs. clm5_0) just sets a suite of default parameter values, which can then be overridden. So, in principle, one should be able to set up a CLM45 ca

[2019-01-03 23:38] rosiealice commented on #451
Ah, OK, fair enough, and a fine aspiration. I'm not sure what might or
might not break in CLM4.5 with LUNA on...

Le ven. 4 janv. 2019 à 00:31, Bill Sacks <notifications@github.com> a
écrit :

--
------------------------------------------------------------
Dr Rosie A. Fisher

Staff Scientist
Terrestrial Sciences Section
Climate and Global Dynamics
National Center for Atmospheric Research
1850 Tabl

[2019-01-03 23:57] billsacks commented on #455
For now I'm using `CLM_PHYSICS_VERSION`.

[2019-01-04 00:01] ekluzek commented on #455
Yes, I think that's best. Then we can convert all of them to the CTSM_* at the same time.

[2019-01-04 21:18] billsacks opened #603 "Remove config_cache.xml used by CLMBuildNamelist"
With the removal of CLM4 (#455 ), the config_cache.xml file used in CLMBuildNamelist isn't serving much purpose any more: I think it now just contains the phys version. It seems like we should remove the use of this file and just pass the phys option to CLMBuildNamelist as a command-line flag. I started briefly down this path, but got lost.

@ekluzek I'm thinking (hoping) that you understand the r

[2019-01-04 21:49] ekluzek opened #604 "I cases use modern atmospheric CH4 even for pre-industrial or transient cases"
### Brief summary of bug

For I cases atmospheric concentration of CH4 comes from the paramfile which has a modern value in it. So hence it's wrong for pre-industrial and transient cases (or for that matter paleo cases).

### General bug information

**CTSM version you are using:** applies to all versions of ctsm

**Does this bug cause significantly incorrect results in the model's science?** Yes

[2019-01-04 22:12] ekluzek commented on #557
Note also #604 the atmospheric methane concentration is given by the input paramfile.

[2019-01-04 22:14] ekluzek commented on #604
Some B cases must not pass methane as seen by this comment by Esther:

`Ok, but I've looked at some different cases together with Keith Lindsay and the value of pCH4/pbot in the h0 land history file is 1700e-9 in all of them. The BHIST case I'm looking at right now also shows this: /gpfs/fs1/scratch/cmip6/archive/b.e21.BHIST.f09_g17.CMIP6-historical.006/lnd/hist`

[2019-01-04 22:39] ekluzek commented on #604
OK, looking at the code, another issue is that the namelist ch4offline needs to be set to .False. in order to use the value of atmospheric CH4 sent from the coupler.

[2019-01-04 22:55] ekluzek commented on #604
In also looking in cime and CAM I didn't see where the setting of index_x2l_Sa_methane was being done. So this may also need work in CAM and cime as well.

[2019-01-04 23:13] ekluzek commented on #604
@ckoven can you comment on how big of an issue this is for simulations? Thanks.

[2019-01-05 14:10] billsacks commented on #455
@ekluzek FYI: For namelist definition / defaults files and the (hopefully-soon-to-be-deleted) config definition file, I'm using a suffix of ctsm rather than clm. I think you raise a good point about consistency for things that a user is likely to interact with, but for these, which very few people deal with, it seemed better to go ahead and make this change, rather than having to go back through t

[2019-01-05 18:20] ekluzek commented on #455
That makes perfect sense to me.

[2019-01-07 20:26] billsacks opened #605 "Move settings from use_cases to namelist_defaults"
Let me preface this by saying that I've never fully grasped the motivation for having use_cases (`bld/namelist_files/use_cases`), so I may be missing something here. But that said:

I'd like to see use cases removed and replaced with their analogous settings in the namelist_defaults xml file. My rationale is: even though use cases make sense for what they do, it's confusing and error-prone to have

[2019-01-07 21:07] ekluzek commented on #605
I'm certainly willing to talk about this. It's possible the main motivation is really all around the simulation year, which we enter anyway. So it's possible all these things could be handled by looking at the sim_year or looking at if it's transient or not. It's also something where we adopted something that CAM was (and is) doing. So you could argue about the need for it in CTSM.

The principle

[2019-01-07 21:10] ekluzek commented on #590
We decided the name of the namelist variable should be: dribble_crophrv_xsmrpool_2atm

[2019-01-08 16:49] bishtgautam opened #606 "Are `create_crop_landunit` and `use_crop` redundant?"
Based on [controlMod.F90#L358](https://github.com/ESCOMP/ctsm/blob/master/src/main/controlMod.F90#L358
), `use_crop=.true.` requires `create_crop_landunit=.true.`. Is there a valid senario for which  `create_crop_landunit=.true.` with `use_crop=.false.`?

[2019-01-08 17:33] billsacks commented on #606
When running without prognostic crops – i.e., just the generic unirrigated and irrigated crops (i.e., `use_crop=.false.`) – we now typically run with `create_crop_landunit=.true.` despite `use_crop=.false.`. In fact, I believe that the only time we currently have `create_crop_landunit=.false.` now is when running with FATES.

[2019-01-08 17:43] bishtgautam commented on #606
Few followup questions:
- My understanding is that `create_crop_landunit` is to turn on/off the dynamic landunits (DLU). Is that correct?
- Can DLU be turned on for generic unirrigated and irrigated crops?
- For a FATES run,
   - Can `use_crop` be `.true.`?
   - Can `create_crop_landunit` be `.true.`?

[2019-01-08 18:19] ekluzek commented on #606
@bishtgautam create_crop_landunit=T, means that each crop type, will be in it's own landunit. While create_crop_landunit=F, means each crop type shares the landunit with the other crops. It doesn't really have anything to do with dynamic landunits, as that is something orthogonal to this.

And yes transient landunits can be turned on for generic crops.

For FATES, neither create_crop_landunit nor

[2019-01-08 18:20] olyson commented on #606
I think of these namelist variables as turning on dynamic landunits:
do_transient_pfts
do_transient_crops

There was a bug that didn't allow DLU to be turned on for generic unirrigated and irrigated crops (do_transient_crops=.true., use_crop=.false.)
It looks like this was fixed on master in ctsm1.0.dev013 and on the release branch in release-clm5.0.11

[2019-01-08 18:21] #521 closed

[2019-01-08 18:21] #593 closed

[2019-01-08 18:21] #595 closed

[2019-01-08 18:30] bishtgautam commented on #606
Thanks, @ekluzek, @olyson.

[2019-01-08 18:30] #606 closed

[2019-01-08 18:52] olyson opened #607 "Dead and/or odd spatial patterns generic crops when"
### Brief summary of bug

[Give a one or two sentence summary. This could be the same as the issue title if you feel that is a sufficient summary.]

### General bug information

**CTSM version you are using:** [output of `git describe`]

**Does this bug cause significantly incorrect results in the model's science?** [Yes / No]

**Configurations affected:** [Fill this in if known.]

### Details of

[2019-01-08 18:52] #607 closed

[2019-01-08 18:53] billsacks commented on #606
I don't think this is quite right. I want to clarify, because this is a common source of confusion: create_crop_landunit=T means that there is a _single_ crop landunit, with each crop on its own column in that landunit. create_crop_landunit=F means that there is _no_ crop landunit, and the generic crops share the single natural vegetation soil column.

[2019-01-08 18:58] ekluzek commented on #606
Yes, correct. Sorry for not being careful. Thanks for the clarification. There's only one additional land-unit for crop, but when there is the crop types within that landunit are on different columns. The important point about being on different columns is that they don't compete for the same water. Without this option on, crops are treated like other natural veg. types and they compete for water

[2019-01-08 20:41] olyson opened #608 "Odd (blocky) spatial patterns in generic crop leafc for BGC simulation when initialized from BGC-Crop"
### Brief summary of bug

A user reports odd (blocky) spatial patterns in leafc for generic crop pft for an I2000CLM50BGC case.
This is a BGC case initialized from a BGC-Crop initial file.

### General bug information

**Model version: cesm2.0.0 (release-clm5.0.01)

**Does this bug cause significantly incorrect results in the model's science? Yes

**Configurations affected: I2000CLM50BGC with out-

[2019-01-08 22:19] ekluzek commented on #590
There's a hard-coded constant in the mods to fix this. This is a bad practice that we know we should try to stay away from. I just checked with @olyson and @wwieder to verify that they don't think it's likely that this parameter would be tuned, and the answer is that it's unlikely enough that leaving it hardcoded is probably OK.

[2019-01-08 23:12] billsacks commented on #608
There are a few important points in this issue, and I'll try to address each of them with some follow-up comments / questions:

(1) You mention the existence of generic crop in this run with prognostic crops enabled. I checked an out-of-the-box surface dataset (`surfdata_1.9x2.5_78pfts_CMIP6_simyr1850_c170824.nc`), and see that it, too, has a significant fraction of generic crop in many grid cells

[2019-01-09 20:57] billsacks commented on #608
From @dlawrenncar - answers to the points above:

(1) Generic crop should be 0 on 78-pft datasets. @olyson is looking into why this isn't the case.

(2) We'd like to put in place a workaround for this issue, since these buggy initial conditions / surface datasets (with generic crop when there shouldn't be any) will be around for a while. One possible fix would be: If we can detect that we're inter

[2019-01-09 22:00] olyson commented on #608
The raw dataset that is used in the creation of, for example, surfdata_1.9x2.5_78pfts_CMIP6_simyr1850_c170824.nc

has non-zero generic crop (PCT_CFT = 15) in a lot of areas.  These generally correspond to areas with very small (but non-zero) PCT_CROP:

mksrf_landuse_histclm50_LUH2_1850.c170629.nc

So maybe these are "unassigned crops" or maybe there is something in the surface dataset code that is

[2019-01-09 23:12] ekluzek commented on #590
I made the constant kprod05 a parameter, and made sure all new history variables are default='inactive'. Making kprod05 double precision changes answers, so I'm leaving it as it is. Now working on making the namelist work correctly.

[2019-01-09 23:20] lawrencepj1 commented on #608
Hi Keith

I think the C3 Generic crops on the surface dataset are from the way mksrfdata_map interpolates each variable independently so the PCT_CFT 15 is regridded from 0.25 degrees to fv 1.9 using bilinear interpolation. The standard for the raw files was to put C3 Generic crops = 100.0 wherever PCT_CROP = 0.0. In this case there is a bleed in from the gridcells with PCT_CROP = 0 to the surround

[2019-01-10 17:33] olyson commented on #608
It seems to be in the raw data I'm looking at:

mksrf_landuse_histclm50_LUH2_1850.c170629.nc

I found 867 gridcells where generic pft is non-zero and pct_crop is non-zero.  Unless there is another factor I'm not considering.

For the year 2000:

mksrf_landuse_histclm50_LUH2_2000.c170629.nc

I found 1233 gridcells.

In other news, success with growing generic crops by reseeding and changing the tot

[2019-01-10 18:02] billsacks commented on #275
Looking at some recent runs of the test suite: Our full cheyenne test suite takes about 7700 core-hours, plus about 200 core-hours to do all of the test builds. I am attaching a spreadsheet with the tests sorted by core-hour usage, along with the cumulative time. Out of the 188 tests, 18 are responsible for > 50% of the total test suite time. I'm going to look into cutting or changing those tests

[2019-01-10 18:23] rgknox commented on #275
@billsacks, we test fates with 1 test using an f09_g16 grid, which seems to be very expensive according to your chart (which makes sense being so large..). It does not seem to be a bottleneck in terms of holding up the whole test suite, but if its impacting the testing quota then I could find ways to reduce/remove this one.

[2019-01-10 18:32] billsacks commented on #275
@rgknox FATES doesn't seem to be a big culprit here (or maybe you're referring to the fates test list, which I haven't looked at). `ERS_D_Ld5.f09_g17.I2000Clm50Fates.cheyenne_intel.clm-FatesColdDef` takes 85 core-hours and `ERS_D_Ld5.f09_g17.I2000Clm45Fates.cheyenne_intel.clm-FatesColdDef` takes 80 core-hours. Those aren't expensive enough to be targets of my first pass, though in a later pass I'd

[2019-01-10 18:40] rgknox commented on #275
I don't think so... we could at least get rid of Clm45Fates f09_g17

Yes to non-debug and shortened, good ideas.  In general, if fates tests are not a huge time cuplrit, I would just like to maintain one fates test on a large grid (f09-ish).  Since FATES has cohorts, it has potential to be a massive memory consumer and netcdf array size maker, so the large grid test will help smoke out these types

[2019-01-10 18:57] billsacks commented on #275
Thanks, @rgknox - I'll go with that plan, and add a comment to the test list with your notes about the rationale for keeping a high-res Fates test (and I'll keep it a restart test to cover possible memory/netcdf size issues with the restart file).

[2019-01-10 23:39] olyson commented on #608
A threshold of 1 works as well, so I'm going with that. I've created a branch and will issue a pull request:

https://github.com/olyson/ctsm/tree/reseed_generic_crop

[2019-01-11 13:54] billsacks commented on #275
@ekluzek looking at the SSP tests: We have three expensive tests:

- SSP_D_Ld4.f09_g17.I1850Clm50BgcCrop.cheyenne_intel.clm-ciso_rtmColdSSP (285 core-hours)

- SSP_D_Ld10.f19_g17.I1850Clm50Bgc.cheyenne_intel.clm-rtmColdSSP (160 core-hours)

- SSP_Ld10.f19_g17.I1850Clm50Bgc.cheyenne_intel.clm-rtmColdSSP (127 core-hours)

Do we need all three of these? Can one or more be done at coarse resolution? (

[2019-01-11 18:07] billsacks commented on #456
From discussion with @barlage

- We'll also reduce the number of canopy iterations (to 3)

- No need to have a river model for now

- We _will_ support the NLDAS grid with the standard CLM5 configuration (so will have a standard surface dataset at that resolution).

- We will _not_ (for now) support the NWP option with any other grids (because we won't have the appropriate surface dataset)

[2019-01-11 19:50] thiagoveloso opened #613 "Single-point mode incompatible with parallel I/O netcdf? Suggestion to change documentation."
I recently ported CLM5 to my local cluster and my MacPro with the intention of running the single-point simulation for the US_UMB Fluxnet site described in section 1.7.2.1. of the CLM5 documentation (https://escomp.github.io/ctsm-docs/doc/build/html/users_guide/running-PTCLM/introduction-to-ptclm.html).

In both cases the model would compile but would not run, crashing right at the beginning of th

[2019-01-11 20:05] thiagoveloso opened #614 "Single-point mode incompatible with parallel I/O Netcdf? Suggestion to update documentation."
I recently ported CLM5 to my Linux department's cluster and my MacPro computer with the intention of running a single-point case for the US-UMB Fluxnet site as described in section 1.7.2.1 of the CLM5 User's guide (https://escomp.github.io/ctsm-docs/doc/build/html/users_guide/running-PTCLM/introduction-to-ptclm.html#details-of-ptclmmkdata).

In both machines the case would compile successfully but

[2019-01-11 20:08] thiagoveloso commented on #613
When I first tried to post this issue, I got a Nginx page error that lead me to believe it hadn't been published. I ended up posting it again. Please delete this issue.

[2019-01-11 20:38] billsacks opened #615 "Document what we want covered in system tests"
It's hard to rework the system test list without knowing the testing requirements that motivated the addition of various tests. One way to document these requirements is in comments for individual tests, but I'm thinking that, before the next overhaul of the test suite, it could be useful if we write a document listing what we want to test. I'm imagining a table with columns for:

- Aspect we want

[2019-01-11 20:40] #613 closed

[2019-01-15 05:26] ekluzek commented on #562
The SDYN_ period has been removed from CAM. modifier_mode can NOT be set for anything other than "description". So we can't make the change we wanted to. So closing this as wontfix.

[2019-01-15 05:26] #562 closed

[2019-01-16 23:39] ekluzek commented on #605
I'm going to add another wrinkle to this issue that makes use_cases difficult. The only valid attributes that can be used in the use_case files are the ones that it sets up. I was noticing it wasn't paying attention to an attribute, but that is the reason why. So that's causes a bit of an unexpected behavior. This could possibly, be it's own issue, but I'm just going to put it here for now.

[2019-01-17 16:56] ekluzek commented on #544
On master this is causing the following test to fail: IRT_N3_PM3_Ld7.f19_g17.BHIST.cheyenne_intel.allactive-defaultio

[2019-01-17 18:55] rgknox opened #618 "check ozone stress and fates compatibility"
The ozone stress calculations seem to be using patch/pft level variables that are likely not calculated when FATES is running.  Compatibility either needs to be enabled/verified, or a proper bypass and incompatibility specified.

https://github.com/ESCOMP/ctsm/blob/master/src/biogeophys/OzoneMod.F90#L311

[2019-01-17 20:19] billsacks commented on #608
Update from today's CLM-science meeting: the reseeding fix is sufficient to fix this problem. So no changes in `init_interp` will be needed to work around this problem.

[2019-01-17 23:00] ekluzek opened #619 "Begin adding a "contrib" tools directory for important useful scripts/tools with looser standards"
We've had a few discussions about this now. There's a set of a few tools that are on cheyenne under:

/gpfs/fs1/p/cgd/tss/CLM50_data_tools

We want to bring them into github, currently into the standard CTSM repository. But, there will be looser restrictions on the standards for these tools. They won't be supported and only provided on a "user-beware" basis. They may not be tested or even have tes

[2019-01-17 23:41] ekluzek commented on #589
Fix in release-clm5.0.16

[2019-01-17 23:42] ekluzek commented on #590
Fix in release-clm5.0.16

[2019-01-17 23:42] ekluzek commented on #545
Fix in release-clm5.0.16

[2019-01-17 23:42] ekluzek commented on #547
Fix in release-clm5.0.16

[2019-01-17 23:43] ekluzek commented on #533
Fix in release-clm5.0.16

[2019-01-17 23:44] ekluzek commented on #553
Fix in release-clm5.0.16

[2019-01-18 16:01] ekluzek opened #621 "Fully remove CMIP5 rcp's (for clm40,clm45,clm50) and implement CMIP6 ssp_rcp's for clm45/clm50"
The CMIP5 future scenarios were addressed as RCP#.#. The CMIP6 future scenarios are SSP (Shared Socioeconomic Pathway) and RCP combinations SSPn-#.#. In order to not have to support both options I'm going to remove the options for RCP's and only implement SSP-RCP combinations which only applies to CLM45/CLM50. So this will remove the CMIP5 RCP's for clm40.

This will start on the release-clm5.0 br

[2019-01-18 20:19] ekluzek opened #623 "To support paleo usage in tools, need to add an additional SCRIP file to mkmapdata.sh"
In order to support paleo usage of the tool chain to create surface datasets, there needs to be an option to do mapping for a paleo SCRIP grid file.

@mathewvrothstein @nanr

[2019-01-18 21:16] billsacks commented on #61
Okay, I'm adding the following:

[code]

I am _not_ setting `<REST_OPTION>` to `never` (as is done for other tests), because it looks like this test relies on `<REST_OPTION>` remaining set to the default value.

@ekluzek does this look right to you?

[2019-01-18 21:21] ekluzek commented on #61
@billsacks that looks right to me. That means it will produce a history file at the end of each run segment, and those files will then each be compared.  And since it's using the STOP variables, it should be updated for each segment. And yes, this one requires restarts to happen so it can run each run segment, so REST_* needs to be left alone.

[2019-01-18 21:42] billsacks commented on #39
It turns out this was a duplicate of http://bugs.cgd.ucar.edu/show_bug.cgi?id=2444, which @ekluzek  fixed in `clm4_5_15_r236`.

[2019-01-18 21:42] #39 closed

[2019-01-22 21:51] olyson opened #624 "QSNOEVAP history output incorrect"
### Brief summary of bug

QSNOEVAP history output is incorrect.

### General bug information

**CTSM version you are using:** release-clm5.0.15

**Does this bug cause significantly incorrect results in the model's science?** Yes, if QSNOEVAP is used for analysis

**Configurations affected:** All

### Details of bug

In WaterfluxType.F90, QSNOEVAP is defined as:

    this%qflx_ev_snow_patch(begp:en

[2019-01-22 22:02] ekluzek commented on #624
@olyson @dlawrenncar should this fix go into release-clm5.0 ASAP then?

[2019-01-23 17:51] #61 closed

[2019-01-23 18:33] ekluzek commented on #624
I have a branch with the fix for this. I've also done some looking for this same type of problem elsewhere where ptr_patch points to the same array. There are some legit examples of this, where there is an ice mask for it. And there are some where a different name is allowed for the same variable.

[2019-01-23 21:52] billsacks commented on #199
@dlawrenncar @olyson @swensosc - is it important to keep H2OCAN on the history file, or is it sufficient to have LIQCAN and SNOCAN? If we keep H2OCAN, it will just be the sum of LIQCAN and SNOCAN. After doing the cleanup in this issue, we'd need to do a bit of extra work to maintain this extra diagnostic field (e.g., introducing a new routine in WaterDiagnosticType that computes this diagnostic fi

[2019-01-23 23:11] olyson commented on #199
I would lean toward keeping it.  That variable has a long history in CLM and it's convenient to have the total water on the canopy instead of having to add two variables.

[2019-01-24 11:46] billsacks commented on #199
Okay, thanks - we can keep it.

[2019-01-24 18:18] billsacks commented on #199
@dlawrenncar and @swensosc have given the okay for removing the old version of this code - i.e., removing the option, snowveg_flag = 'OFF'. We should continue to support snowveg_flag = 'ON' and 'ON_RAD'. The clm45 default will become snowveg_flag = 'ON_RAD' (as for clm50); this will change clm4_5 scientifically (at least somewhat).

I think we should do this in two steps:

1. Remove support for sn

[2019-01-28 19:11] billsacks commented on #196
Closing this issue, because it lacks details needed to make it useful.

[2019-01-28 19:11] #196 closed

[2019-01-29 23:40] billsacks opened #627 "Assess potential speedups from vectorization"
I strongly suspect that little, if any, CTSM code is currently being vectorized, due to a combination of (1) our use of pointers (#235), (2) our indirect indexing via filters (#236), (3) the complex logic in many of our loops, and (4) the fact that many of our loops call other subroutines (including endrun). We should assess whether we could get a significant performance benefit if our code was mo

[2019-01-31 20:37] billsacks opened #628 "AerosolMasses called twice in the driver loop"
### Brief summary of bug

I noticed that AerosolMasses is called twice in the driver loop: the call sequence is:

- call AerosolMasses

- call LakeHydrology

- call AerosolMasses

I assume this should only be called once, although I don't know which of these calls should be kept and which should be cut (if it matters).

### General bug information

**CTSM version you are using:** ctsm1.0.dev025

*

[2019-01-31 20:46] billsacks commented on #628
Never mind - I see they're called with different filters. As long as the snowc filter is independent from the lakesnowc filter (which I haven't confirmed), this is really just being called once per point (and similarly for `SnowAge_grain`).

[2019-01-31 20:46] #628 closed

[2019-01-31 20:59] ekluzek opened #629 "Remove unused fields from surface datasets"
There are some unused fields on the surface datasets. These should be removed in order to save disk space:

PCT_GLC_MEC_GIC
PCT_GLC_MEC_ICESHEET
PCT_GLC_GIC
PCT_GLC_ICESHEET
F0
P3
ZWT0

There are also a bunch of fields that could be eliminated for cases where anthropocentric influences are removed:

URBAN_REGION_ID
CONST_HARVEST_VH1
CONST_HARVEST_VH2
CONST_FERTNITRO_CFT
CONST_HARVEST_SH1
CONST_HAR

[2019-02-05 17:04] ekluzek commented on #629
Note, that VIC tests are only run for f09, f19, f10 for 2000 conditions with Crop (and CN) off.

[2019-02-05 18:07] ekluzek commented on #629
Many urban fields are really lookup tables for a relatively small number of regions throughout the globe. So we could also save space, by referencing the lookup tables and just keep the region ID on the surface dataset. That would also make it easier to bring in new urban fields, because we wouldn't have to put them on the surface datasets, before adopting them. @olyson

[2019-02-05 18:13] ekluzek opened #633 "Reduce disk space on surface datasets by using the urban lookup table"
There are 34 urban fields on the surface dataset that are output as double precision at the resolution of the output grid. We could save space and make it easier to bring in updates to urban fields in, by just keeping the region ID on the surface dataset, and referencing the lookup table.

Roughly 25% of the surface dataset is made up of such urban fields. We could save about 50GBytes per new set

[2019-02-05 18:24] ekluzek commented on #629
For urban fields, note issue #633 which handles them by pointing to the urban field region lookup table as a separate file. We won't do this one right away, but should consider it for future changes.

[2019-02-06 06:34] #457 closed

[2019-02-11 23:34] mingjieshi commented on #592
Hi Erik,

I checked the time-series of delta C14 respirations (e.g., delta_C14ER = ((c14ER/ER)/1e-12 - 1) * 1e3) over Arctic (the historical runs are at /gpfs/fs1/p/cgd/tss/people/oleson/CLM_LAND_ONLY_RELEASE/CLM5/clm50_r270_1deg_GSWP3V1_iso_newpopd_hist/lnd/proc/tseries/month_1/), and found earlier peaks (during 1935-1945) than I expected (1960s). Do you think if this bug was the reason for the e

[2019-02-13 03:07] ekluzek commented on #629
In response to this...

If the usage is for postprocessing, including these fields in the input datasets is the wrong solution. We are at a point of needing to be careful with the creation of input surface datasets because of space. For postprocessing you probably only need it at one resolution, and you can get by with older versions of the dataset. In contrast to that the input datasets are caref

[2019-02-13 16:57] whlipscomb commented on #629
@billsacks and @ekluzek, I don't know whether people are currently using these fields.  But in general it could be useful to distinguish between GIC (i.e., peripheral glaciers and ice caps) and the main ice sheet, for someone who is post-processing CLM glacier output.   Would it be possible to include these fields in non-input datasets, as @ekluzek  suggests?

I'm not sure whether or not these fie

[2019-02-13 18:04] billsacks commented on #629
@whlipscomb I understand why these fields are useful in principle, but I was thinking that, if they're not being used (much) in practice, we should save the disk space. Would it be reasonable to send a message to liwg-core asking if anyone is using these fields? As for @ekluzek 's suggestions, I'm not sure I understand these, but maybe we could discuss further in person.

@ekluzek would a compromi

[2019-02-13 18:20] ekluzek commented on #629
@billsacks I could add them as optional. I did that for VIC. I still think that's the wrong solution. But, I think we should talk to some liwg-core members who need this and narrow down what the real requirements are. Note, since it's been available until now, you just create it with an older version. But, getting the real requirements from the people who are (or would) use them is really the impo

[2019-02-13 18:40] whlipscomb commented on #629
@ekluzek and @billsacks, I may have misunderstood.  I agree that we don't need these fields in the standard surface data sets.  I'd just like to have them available in case someone wants them.  @ekluzek, what do you mean when you say "you just create it with an older version"?  Do you mean an older version of the scripts that process raw data to create surface data sets?  If so, then I think I'd p

[2019-02-13 18:56] ekluzek commented on #629
@whlipscomb let's setup a meeting to discuss this. My point is to understand the scientific requirements here and provide a solution that best meets them. To get at that, we both probably need to learn what people are doing as well as make sure we are providing a solution that they can take advantage of even if they haven't to this point.

[2019-02-13 19:02] jhamman opened #852 "Stand alone LILAC driver"
Per this morning's conversation with @mvertens and @billsacks, we are starting work on a stand alone driver for LILAC. For now that driver is building off an existing clm driver and the code is here: https://github.com/jhamman/lilac_driver

[2019-02-15 17:59] ekluzek opened #636 "Bring FAN into CTSM"
We want to bring @juliusvira FAN (Flow of Agricultural Nitrogen) model into CTSM. @wwieder. Before creating a PR for it, this issue can report on this task.

Here's the initial implementation:

https://github.com/ESCOMP/ctsm/compare/clm5.0.dev003...juliusvira:fan-2019

[2019-02-15 17:59] ekluzek commented on #636
As an initial request for a change: The "ndep2" and "ndep3" streams files need better names.

[2019-02-19 22:37] slevisconsulting commented on #299
Notes from my Feb 2019 visit to Boulder:

**Long term solution**
In Gordon's view will require redesign of this part of the code and could be major undertaking.

**Short term solution**
Gordon and Mike B believe that a shorter clm timestep may reduce the iterations required. Mike suggested investigating the timestep-to-iteration relationship.

Evaluate how much to reduce max number of iterations.

[2019-02-19 23:08] slevisconsulting commented on #286
Notes from my Feb 2019 Boulder visit:

The discussion focused on leveraging existing esmf capabilities. The conversation is ongoing via email between Bill S and Ben Koziol, Erik K, Mariana, Negin, Mike B, Rocky Dunlap...

A major incentive for pushing this issue forward is Mike B's NWP workflow. So here are Mike B's workflow notes for running NWP. **I will work with these notes to gain familiarity

[2019-02-19 23:26] dlawrenncar opened #638 "Methane sinks"
Youmi Oh at NOAA is involved in research that suggests that most global methane models underestimate the methane soil sink due to high affinity methanotrophs.

From Youmi "I am working on arctic and global methane soil sink modeling by combining the microbial model of high affinity methanotroph (Oh et al., 2016) and Terrestrial Ecosystem Model that my advisor, Dr. Qianlai Zhuang, uses. The field a

[2019-02-19 23:31] barlage commented on #286
Yikes! I wasn't expecting these to be broadcast across GitHub. These should be edited before public release.

[2019-02-19 23:32] slevisconsulting commented on #286
Related to #582

[2019-02-20 00:01] slevisconsulting commented on #581
Notes from my Feb 2019 Boulder visit:

**User-set landunit cutoffs**
1) Run with N dominant landunits
2) Additionally turn off landunits individually with namelist thresholds; beware of situations that may break the model, eg gridcells ending up with no landunits
3) Remove this control from mksurfdat

[2019-02-20 00:04] slevisconsulting commented on #581
@billsacks feel free to assign this issue to me. Thanks!

[2019-02-21 18:21] #575 closed

[2019-02-21 22:29] billsacks commented on #629
In discussion with @ekluzek and @whlipscomb about the above glacier-related fields

Bill L says: these diagnostic fields, while not critical, are very helpful to have for post-processing.

The easiest thing would be to add an option (like '-mask_gic') to mksurfdat.pl to add these diagnostic fields. Then LIWG scientists could run this tool with this option. While having mksurfdata_map do this isn't

[2019-02-21 22:47] ekluzek commented on #633
I went over this with @olyson. We agree it would be good to do. It will both save disk space, and also make it easier for Keith to do urban updates. He won't have to create new surface datasets in order to try out a new urban dataset parameters, he can just point to the new dataset. So this change is both more flexible for Keith and his work, and also saves maybe a 100GBytes of data for each time

[2019-02-21 23:37] #619 closed

[2019-02-25 18:52] ekluzek opened #642 "Change the ESMF library being used to ESMF7.1.0r"
### Brief summary of bug

From Chris Fischer, we need to use ESMF7.1.0r in place of ESMF7.0.0 which has a bug. mkmapdata.sh is currently using ESMF7.0.0.

### General bug information

**CTSM version you are using:** release-clm5.0.18

**Does this bug cause significantly incorrect results in the model's science?** Possibly

Potential problem

Under certain conditions the mapping files created could

[2019-02-25 19:00] ekluzek commented on #636
ndep2 was renamed, and ndep3 was removed.

[2019-02-25 19:02] ekluzek commented on #636
@negin513 and @billsacks note the following.

There are some CPP #ifdef's and that's something we've tried to move away from. There's also a bunch of constants that are set in FAN, and the global constants from CESM and CLM should be used. One way to handle that, would be to have them available for offline use, but overridden by the host land-model for consistency. So we need to talk about that as

[2019-02-26 00:03] slevisconsulting opened #643 "Integrate Ben's chunking in the new mksurfdat toolchain"
Modify mkmapdata to include calls to OCGIS.

[2019-02-26 00:13] slevisconsulting opened #644 "mksurfdat toolchain: Wrapper tool that handles all the steps needed to create a CTSM surface dataset"
Starting here with notes from Mike Barlage that explain how he generates CTSM surface data for WRF domains, because we're using the application of WRF domains as the motivation for redesigning the mksurfat toolchain.

Mike's notes:
--------------
Creating setup based on WRF domain - CTSM Cheyenne/Geyser
1. Create SCRIP file from WRF geo_em file

create_scrip_file.ncl

creates two files that are co

[2019-02-26 00:15] slevis-lmwg opened #645 "mksurfdat toolchain: portability across platforms"
Make sure the tool build can work on a wide range of systems.

[2019-02-26 18:31] ekluzek opened #646 "Wrong filename for f05 1850-SP"
### Brief summary of bug

Empty file is being pointed to.

### General bug information

**CTSM version you are using:** ctsm1.0.dev027
**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:** Clm50SP @ f05

### Details of bug

The following file is empty and not in svn inputdata...

$CSMDATA/lnd/clm2/surfdata_map/surfdata_0.47x0.63_16pfts_Irr

[2019-02-26 18:57] billsacks commented on #275
In my latest run of the test suite, with the changes in #622 (which include changing / removing expensive tests as well as interpolating out-of-the-box initial conditions files), the test suite cost was about 4300 core-hours (down from the previous 7700 core-hours). This is getting close to what I'd consider an acceptable cost.

[2019-02-26 20:19] bishtgautam opened #647 "Should `hpindex` be saved and read from `*.rh*` files?"
I found an issue with ELM that maybe also applicable to CTSM. Let me describe the issue:

1. ELM simulation was performed with hash-x and restart files were saved.
2. To hash-x, few code modifications were applied that included the addition of a new optional field via `hist_addfld1d = ( ..., ..., default='inactive')`. Let's call the new code at  hash-y.
3. When a new case is created with hash-y wi

[2019-02-26 20:31] ekluzek commented on #647
So let me make sure I have this right. You run the model and create a restart file. Then you modify the code to write out another variable and use the restart file to restart from?

If so, I don't really expect that to work. And I'm not sure it's really something that we should expect to work.

The alternative that is already available, and should work, is to do a branch from the restart file, rat

[2019-02-26 20:34] bishtgautam commented on #647
No. The new variable is just an optional variable and it is not written out in the `rh` file.

[2019-02-26 20:38] ekluzek commented on #647
OK, thanks for that. Then I must not understand this case clearly.

Can you point us to a failing case and/or give us step by step instructions to show the problem?

[2019-02-26 20:41] bishtgautam commented on #647
Ok, I will create a branch to replicate this error with CTSM and provide notes on how to reproduce it.

[2019-02-26 20:47] ekluzek commented on #646
Ok, this was fixed in release-clm5.0, and the fix just needs to come to master, which is planned to happen.

[2019-02-26 20:55] ekluzek commented on #13
Because of our plans of moving to ocgis for doing the regridding, I'm closing this task. Once, the development using ocgis is done, we should then look at updating cime/tools/mapping to use those developments.

#643 and #645 now replace this task.

[2019-02-26 20:55] #13 closed

[2019-02-26 21:19] ekluzek opened #648 "Convert SCRIP grid files used by mkmapdata.sh to ESMF unstructured format"
mkmapdata.sh currently uses SCRIP grid files to generate the mapping files. With the update in #643, we will want to update these files into ESMF UGRID format. UGRID format contains the connectivity information that helps with running in parallel. There are two tasks to do that.

First is to convert the current SCRIP files into ESMF format using the standard ESMF tool. ESMF_Scrip2Unstruct that is

[2019-02-26 21:39] #312 closed

[2019-02-26 21:43] ekluzek commented on #648
The format should be ESMF unstructured mesh and NOT UGRID.

[2019-02-27 16:18] slevisconsulting commented on #581
New sub-issue to address here:

In surfrdMod.F90 I wrote the comment:
"call collapse_to_dominant" does not appear in subroutine dynpft_interp: SHOULD IT?

As implemented, a TRANSIENT run that uses n_dom_pfts and/or n_dom_landunits will go back to the pfts and/or landunits read from the input files. I allowed this behavior because I reasoned that NWP applications would not perform transient runs.

[2019-02-27 16:45] billsacks commented on #581
@slevisconsulting if your new option is incompatible with transient, can you please put in an error check ensuring that these two options aren't set at the same time (if you haven't already)?

[2019-02-27 17:44] ekluzek commented on #581
Yes, if it's incompatible with transient, an error should be triggered (both in code and in build-namelist) to say that this isn't something that's valid to do. You are probably right that for NWP you wouldn't likely be doing transient cases. Transient mode changes at most once a year, so that just doesn't make sense for weather prediction.

[2019-02-28 05:16] slevisconsulting commented on #581
Alternatively, I could add the necessary calls in
subroutine update_landunit_weights and subroutine dynpft_interp
and just get it done. Would either of you be opposed to my trying?

I would do this as a new PR right after completing the PR that's currently open. If you're opposed, I'm happy to add the error checks as suggested.

[2019-02-28 15:28] bishtgautam commented on #647
@ekluzek, I tried `--res f09_g17 --compset I1850Clm50Sp` on Edison with the 68aa1147 and the code crashed with the following trace:

[code]
Could you suggest `--res` and `--compset` that I should instead use?

[2019-02-28 15:48] billsacks commented on #581
@slevisconsulting I'm fine with your giving this a shot if you don't think it will be too hard. One possible caveat relates to dynamic glaciers, whose areas come from the coupler. It's possible that those areas need to stay in agreement with CISM's for conservation purposes when running with fully active glaciers... I can't remember if that's still necessary. But I'm okay with your adding this as

[2019-02-28 16:14] billsacks commented on #647
@bishtgautam this smells like a compiler issue to me. We might have to look into this further, but for now I think I understand the issue well enough to try to reproduce it on our end. I'll try that and post back here.

[2019-02-28 16:22] bishtgautam commented on #647
@billsacks, To be clear, you will attempt to reproduce the `hpindex`-related issue or the `
--res f09_g17 --compset I1850Clm50Sp` failure at your end?

[2019-02-28 16:25] billsacks commented on #647
Sorry, I meant I'll reproduce the hpindex issue.

[2019-02-28 16:31] slevisconsulting commented on #581
Ok, so I get the following error when I test the above discussed mods with
ERS_D_Ld10.f10_f10_musgs.IHistClm50BgcCropGs.cheyenne_intel.clm-rm_individual_lunits_decStart

I get the feeling that maybe I should expect this error in a decStart run and should use the error suppression suggested (similar to the suppression used for pfts with check_dynpft_consistency=.F.):

`71: set_curr_delta ERROR: fou

[2019-02-28 19:02] billsacks commented on #581
I wouldn't necessarily expect this error in a decStart run, but maybe there's something I'm not thinking about. This suggests to me that landunit weights are changing at a time step other than the year boundary. Can you tell when in the run you are getting this error?

[2019-02-28 19:12] ekluzek commented on #636
@negin513 and I talked with @juliusvira yesterday. We came up with some thing's we'd like to see:

- Move shared parameters to module data
- Remove the CPP token that's just there for r8 kind, as we don't envision using a FORTRAN standalone driver
- Add more comments on what's going on. Look at other parts of CLM for formatting. (also see: https://wiki.ucar.edu/display/ccsm/CLM+Coding+Conventions)

[2019-02-28 19:35] billsacks commented on #581
Thinking about this more: My guess is that you're running into this in the first time step of the run. I suspect the problem is that weights shift substantially in the first time step in this decStart run, because you're starting in a different year from the one given by the restart file. This change in weights in the first time step is then generating a dynbal flux.

But what I don't understand i

[2019-02-28 19:50] billsacks commented on #581
Wait, I may see a problem with trying to do the collapse to N dominant landunits in a transient run: Let's say the surface dataset specifies 20% lake, 30% crop and 50% nat veg for a given grid cell, and we are collapsing to the 2 dominant landunits. Then, in initialization, lakes would be set to 0, and crops and nat veg would be rescaled, right (to 37.5% crop and 62.5% nat veg?).

Now consider two

[2019-02-28 20:04] billsacks commented on #581
So my conclusion is that we probably should not allow your new landunit-collapsing settings in a transient run.

Similarly, we probably should not allow these settings to be set in a run with `glc_do_dynglacier = .true.`. I'm not positive whether these settings are completely incompatible, particularly in the common case where we have `glc_do_dynglacier = .true.` but with a non-evolving ice sheet

[2019-02-28 20:26] slevisconsulting commented on #581
Seems reasonable and thank you for thinking this through @billsacks .

I was coming to a similar conclusion by trying this test:
- Set one of the urban landunits to disappear for a certain user-defined limit but then override the outcome to make the landunit not disappear but become half as large. No other changes.
- The result is still the same delta error in pft 0, which tells me that I'm introd

[2019-02-28 22:55] billsacks commented on #647
I was sort of able to reproduce the issue:

[code]

Then added these diffs:

[code]

Then:

[code]

This failed with this somewhat cryptic error:

[code]

However, I was not able to make the error go away just by commenting out the line you mentioned: when I added these diffs, too:

[code]

then rebuilt & resubmitted, I got the same error as above.

(I confirmed that, if I removed both sets of dif

[2019-02-28 23:07] bishtgautam commented on #647
@billsacks, Thanks for reproducing the error. I misquoted the line that should be commented out to get the code to run successfully. [histFileMod.F90#L4094](https://github.com/ESCOMP/ctsm/blob/master/src/main/histFileMod.F90#L4094) should be commnted out instead of [histFileMod.F90#L4092](https://github.com/ESCOMP/ctsm/blob/master/src/main/histFileMod.F90#L4092).

[2019-02-28 23:37] slevisconsulting commented on #581
For future reference...
I will keep my attempt at getting this to work in my "rm_individual_lunits" branch (as untracked files).

[2019-03-01 14:30] billsacks commented on #647
Thanks @bishtgautam - now I can reproduce your findings: with this diff

[code]

the continue_run passes.

Like you, I'm not sure if removing that is the right thing to do: this will need more careful analysis.

[2019-03-01 15:02] bekozi commented on #643
I wanted to get a task list down here for the chunked regridding (see this [board](https://github.com/NCPP/ocgis/projects/1) for more detailed issues). I ordered the tasks by priority.

 * [x] ~~Merge branch for running demo code to the ocgis master.~~ _Done._
 * [ ] Support ocgis installation on Cheyenne.
 * [ ] Support ESMF Unstruct output in ocgis. Currently, the format may only be read.
 * [ ]

[2019-03-01 21:35] jedwards4b opened #649 "inputdata file in netcdf4 format"
Can we get the file
/glade/p/cesmdata/cseg/inputdata/lnd/clm2/mappingdata/grids/UGRID_1km-merge-10min_HYDRO1K-merge-nomask_c130402.nc
converted to the 64bit_data type - netcdf4 is causing lots of headaches.

[2019-03-01 21:47] billsacks commented on #649
This is not something I have time to work on imminently, so I'm unassigning myself. Also, as per some issues that @ekluzek has opened recently, we plan to convert this to a completely different format.

Can you please describe what trouble this is causing for you?

[2019-03-01 21:48] ekluzek commented on #649
I'm not sure we can. The format of this file was picked to be NetCDF4, because of it's size.

This file should only be read by the offline tools like mksurfdata_map though, so I'm not sure why it would be causing trouble. Is this for people trying to generate surface datasets for CLM?

[2019-03-01 21:52] jedwards4b commented on #649
Yes - apparently netcdf-4 is not playing well with esmf at nersc - the 64bit_data format should be able to handle it.

[2019-03-01 21:58] billsacks commented on #649
@jedwards4b can you please provide more information about who is running into this problem and what they're trying to do? For a number of reasons, we don't currently support the use of CLM's tools that use this file anywhere other than cheyenne. (By the way: This was discussed in an email May 18, 2017, when you raised the same issue and Erik replied the same way.)

[2019-03-01 22:03] jedwards4b commented on #649
Ben Hillman is on slack - please communicate with him and get me out of the loop.  Thanks

[2019-03-01 22:15] billsacks commented on #649
From reading the conversation on slack, it looks like Ben Hillman has resolved his problem (presumably for e3sm). We can revisit this on our side when we convert this file to the newer ESMF unstructured grid format that we plan to use. At that point, we can try using 64bit_offset or (as you recommended on slack, @jedwards4b ) 64bit_data (https://www.unidata.ucar.edu/software/netcdf/docs/netcdf_int

[2019-03-01 22:15] #649 closed

[2019-03-04 21:44] billsacks commented on #605
@ekluzek suggests, as a first step, we keep only sim_year, sim_year_range and rcp in the use cases, and move all of the other variables that are currently in use cases to namelist_defaults (with dependence on those three).

Then a second step could be setting sim_year, sim_year_range and rcp in a different way (e.g., via their own xml variables).

[2019-03-06 15:59] serbinsh opened #652 "gptl build error: error: macro names must be identifiers"
### Brief summary of bug
[code]
### General bug information

**CTSM version you are using:** clm5.0.dev008-88-ge862304
FATES: sci.1.23.0_api.7.1.0

[code]

**Does this bug cause significantly incorrect results in the model's science?** [Yes / No] NA

**Configurations affected:** [Fill this in if known.] NA

### Details of bug

above

### Important details of your setup / configuration so we can re

[2019-03-06 16:00] serbinsh commented on #652
[code]

[code]

[2019-03-06 16:27] billsacks commented on #652
@serbinsh can you please move this issue to https://github.com/esmci/cime since this is related to cime rather than ctsm itself? Ideally you would reproduce this issue with an A or X compset in cime.

I'm going to close it here.

[2019-03-06 16:27] #652 closed

[2019-03-06 16:50] serbinsh commented on #652
Done.  I make this mistake regularly because I forget that build=cime and physics=ctsm.  And in this case its probably a CIME version issue in the CTSM fates_next_api branch

https://github.com/ESMCI/cime/issues/3027

[2019-03-06 18:05] ekluzek opened #653 "To save disk on fsurdat files use zwt0 on finindated file"
Right now for clm45 and the zwt inversion zwt0 and others are read from the fsurdat file. But this is also on the ch4inversion file so doesn't need to be.

[2019-03-07 17:59] ekluzek opened #654 "Failure running on cheyenne after Mar/5/2019 downtime"
### Brief summary of bug

There are often failures in running CTSM on cheyenne after the Mar/5th/2019 downtime.

### General bug information

**CTSM version you are using:** release-clm5.0.18 (but would affect others as well)

**Does this bug cause significantly incorrect results in the model's science?** ?

**Configurations affected:** We aren't sure yet

### Details of bug

mpt2.15 was removed b

[2019-03-07 18:12] ekluzek commented on #654
@jedwards4b has a fix for this that preserves answers

[code]

[2019-03-07 18:21] ekluzek opened #655 "Problem running mkmapdata.sh on cheyenne after the Mar/5th/2019 downtime"
### Brief summary of bug

After the Mar/5th/2019 downtime of cheyenne, mkmapdata.sh no longer runs.

### General bug information

**CTSM version you are using:** release-clm5.0.18-20-g74da99c

**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:** All resolutions

### Details of bug

This is probably due to the version of mpt used with the

[2019-03-07 18:34] ekluzek commented on #655
The ESMF version being used on cheyenne is:

  esmfvers=7.0.0
  intelvers=17.0.1
  module load esmf_libs/$esmfvers
  module load intel/$intelvers
  module load ncl
  module load nco

[2019-03-07 18:35] ekluzek commented on #655
We should update the ESMF version anyway, see #642

Here are the ESMF library versions now available on cheyenne

[code]

[2019-03-07 18:49] ekluzek commented on #655
Mike Levy notes that this will probably work if you use the one processor version that uses mpiuni.

[2019-03-07 19:07] ekluzek commented on #654
Looking at the list of tests that passed/failed: 103 passed, and 102 failed (but some due to different issues).  Note, that the gnu tests seemed to have worked, while some intel fail, none of the tests that failed were mpi-serial either. It looks like if it fails it fails early in the first few seconds (up to about 18 seconds or so). Here are the list of 14 tests that failed after that point...

E

[2019-03-07 20:35] ekluzek commented on #654
So it looks like CLM versions of clm5.0.dev009 and before use mpt/2.15 and as such won't even be able to compile on the current system, since mpt/2.15 was removed.

[2019-03-07 22:03] ekluzek commented on #654
So workarounds that exist now, are that gnu works, and single-point simulations work (or anything with mpi-serial).

[2019-03-07 22:04] ekluzek commented on #654
In updating to cime5.6.12 I ran into some fails due to the following error. Talking with Chris Fisher he suggests login out and then back in again. So I'll try that...

[code]

[2019-03-07 22:37] ekluzek commented on #655
@slevisconsulting @negin513

Here's what I hear from CISL:

[code]

[2019-03-07 22:41] ekluzek commented on #654
This is the latest message from CISL. They are removing mpt/2.16 which means that no version of the model will currently work on cheyenne with Intel and mpt without changes. Here's the note they give...

[2019-03-08 01:15] ekluzek commented on #654
OK, my first set of testing all failed (other than mpi-serial tests) with the above error. To get past it, I needed to make sure I saved the right module versions, and logout, and rerun the builds. So I'm trying it again and we'll see if it goes.

[2019-03-08 17:31] ekluzek commented on #654
CISL has changed the system so that mpt2.15 and mpt2.16 actually point to mpt2.19, and issue the following warning when you create a case...

[code]

[2019-03-08 21:51] ekluzek commented on #655
CISL has now rebuilt the ESMF 7.0.0 library with the updated mpt, and I've tested that it works both for 0.9x1.25 and 1x1_brazil.

[2019-03-08 21:51] #655 closed

[2019-03-08 22:10] #654 closed

[2019-03-11 06:44] ekluzek opened #657 "fates test list is not running on cheyenne"
### Brief summary of bug

The fates test list is not running on cheyenne. It looks like an incompatable default fates parameter file

### General bug information

**CTSM version you are using:** clm5.0.dev008-89-g5fd9305

fates_next_api branch

**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:** default Fates configurations

### Details

[2019-03-12 16:50] billsacks opened #658 "Methane's dependence on gridcell-level TWS is problematic"
I often run into a situation where a change in some unrelated part of the code causes substantial answer changes to various methane variables. My best guess is that this is because of the dependence of methane on gridcell-level total water storage (TWS):

https://github.com/ESCOMP/ctsm/blob/b26c12f6318c7e7b766b2960f46aec7c56df7941/src/biogeochem/ch4FInundatedStreamType.F90#L306-L307

This is probl

[2019-03-12 18:40] billsacks commented on #658
I'm going to upgrade this to "bug - impacts science" because, the more I think about it, the more (1) feels really scientifically wrong. For example, in a grid cell that is part vegetated and part glacier, I believe the methane parameterization currently depends on the amount of glacial ice that we count in the column-level water budget of glacier columns.

[2019-03-12 21:32] juliusvira commented on #636
I have tried to address these ideas in the new branch https://github.com/juliusvira/ctsm/tree/fan-2019-ctsm:
- Added the Fan2CTSMMod module as an interface between FAN and the rest. This also reads the parameters from namelist.
- Added the FAN pools and fluxes to the N balance check. The totals are first aggregated by FAN to keep the changes small elsewhere.
- Changed FAN to use the SHR-constants

[2019-03-12 22:00] billsacks opened #659 "Subtract dynbal baselines from begwb and endwb"
In a branch that I'll soon bring to master, I'm subtracting baselines from the calculation of total column water and heat when computing budgets before and after dynamic landunit adjustments. However, I am currently NOT subtracting these baselines when computing begwb and endwb for the sake of water balance checks - and also for the sake of TWS, since TWS is computed based on endwb.

It would be b

[2019-03-12 22:42] billsacks commented on #659
See 2fe59924 for the commit that should eventually be backed out.

[2019-03-13 21:08] billsacks commented on #274
This part:

is fixed in ctsm1.0.dev031, via #650.

[2019-03-14 17:34] ekluzek opened #661 "Add a check item for update CAM and CESM REFCASES to ChangeLog file"
We need to add an item to checkoff on the CTSM ChangeLog to signal that this tag might need new REFCASES made for CAM and CESM. If changes had to be made to get LII tests to work, likely this will be the case.

[2019-03-15 22:02] slevisconsulting commented on #299
@billsacks , at our meeting in Boulder you suggested that I wait for you to add an iterations setting to the namelist before I started working on this issue. Is that still the plan or should I go ahead and get started?

[2019-03-16 17:35] olyson opened #662 "hk_l used before properly initialized"
### Brief summary of bug

The layer hydraulic conductivity is used in PhotosynthesisHydraulicStress at first time step before it is calculated in compute_hydraulic_properties.

### General bug information

**CTSM version you are using:** release-clm5.0.17

**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:** Cold starts

### Details of bu

[2019-03-17 17:29] slevisconsulting commented on #299
@billsacks , alternative to my previous question:  Would you like me to add the iterations setting to the namelist if you haven't already?

[2019-03-17 22:41] billsacks commented on #299
@slevisconsulting I hope to finally start the work related to this next week, though with other obligations and some vacation time coming up, it might still be a couple of weeks before this is on master. So you shouldn't wait for me, but if we both add this namelist item, it will take some reconciliation. I forget: do you need this namelist item in order to start your work on this? (I forget the d

[2019-03-20 05:48] ekluzek opened #664 "Typo in SSP5-3.4 C13 isotope file name"
### Brief summary of bug

The C13 isotope filename has a typo in it for SSP5-3.4

### General bug information

**CTSM version you are using:** release-clm5.0.20
**Does this bug cause significantly incorrect results in the model's science?** No
**Configurations affected:** SSP534 with C13 isotopes on
### Details of bug

Here's the fix:

[code]

### Important details of your setup / configuration so

[2019-03-20 23:26] slevisconsulting commented on #299
I've seen a couple of suggestions for what to look for during this investigation:
- timestep-to-iteration relationship: I interpret this to mean that I may plot a distribution (or other representation) of iteration values for clm's default timestep, then plot again for 0.5*timestep, 0.25*timestep, etc.
- maps of iterations for various times of day

So next task I think is to add the number of iter

[2019-03-23 00:17] slevisconsulting commented on #299
Added ITLEF to history, ran this test:
ERP_D_Ld5.f10_f10_musgs.I2000Clm50Sp.cheyenne_intel.clm-decStart
and got this history output in <case>.clm2.h0.2002-01-04-00000.nc

![20020104 nc](https://user-images.githubusercontent.com/35322900/54859066-4ec0bb00-4cc6-11e9-9972-75f9f8e2f49c.JPG)

[2019-03-23 02:08] slevisconsulting commented on #299
Looking by time step:
.clm2.h0.2002-01-01-00000.nc has max iterations 32 in a certain time step
.clm2.h0.2002-01-02-00000.nc has max iterations 32 in a certain time step
.clm2.h0.2002-01-03-00000.nc has max iterations 16 in a certain time step

I don't think I see a preference for more iterations at nighttime or daytime or at low sun-angles.

May help to see if certain pfts are more likely to end

[2019-03-24 03:36] ekluzek opened #665 "fates_next_api st_archive issue"
### Brief summary of bug

Tests fail on the fates_next_api branch due to ST_ARCHIVER error All tests show this problem.

### General bug information

**CTSM version you are using:** clm5.0.dev008-90-g04e931e
**Does this bug cause significantly incorrect results in the model's science?** No
**Configurations affected:**

Running tests on fates_next_api branch results in short term archiver errors as

[2019-03-24 04:31] ekluzek opened #666 "cime incompatability in fates_next_api doesn't allow to build with CISM"
### Brief summary of bug

fates_next_api branch does not currently build for compsets that include CISM.

### General bug information

**CTSM version you are using:** clm5.0.dev008-90-g04e931e
**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:**

Building with fates_next_api branch with a compset that includes CISM (without Gs at the end)

[2019-03-24 05:11] ekluzek opened #667 "Exact restart problem with Fates"
### Brief summary of bug

Activation of planthydro in Fates on fates_next_api seems to have an exact restart issue.

### General bug information

**CTSM version you are using:** clm5.0.dev008-90-g04e931e

**Does this bug cause significantly incorrect results in the model's science?** No?

**Configurations affected:**

ERS_D_Ld5.1x1_brazil.I2000Clm50FatesCruGs.cheyenne_intel.clm-FatesHydro

The tes

[2019-03-24 19:44] rgknox commented on #667
@ekluzek, this is a known issue, we do not get exact restarts on fates_next_api with ngeet/fates master either.

[2019-03-24 21:05] ekluzek commented on #667
Glad it's a known issue. Note, that some restart tests pass.

PASS       ERS_D_Ld3.f19_g16.I2000Clm50FatesCruGs.cheyenne_gnu.clm-FatesColdDef                       COMPARE_base_rest
PASS       ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruGs.cheyenne_intel.clm-Fates                        COMPARE_base_rest
PASS       ERS_D_Ld3.f19_g16.I2000Clm50FatesCruGs.cheyenne_intel.clm-FatesColdDef

[2019-03-25 06:04] ekluzek opened #668 "ERP tests are failing on fates_next_api"
### Brief summary of bug

ERP tests fail on fates_next_api

### General bug information

**CTSM version you are using:** clm5.0.dev008-91-ga7aa4f9
**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:** ERP tests

### Details of bug

ERP tests are failing, due to not finding the rof restart files. ERS tests pass. I think this is an issue wit

[2019-03-25 17:39] rgknox commented on #668
@ekluzek , the ERP tests with fates_next_api and fates/master do pass (the hydro was the only one that didn't)

[2019-03-25 17:43] ekluzek commented on #667
Note, and issue on NGEET/fates that this relates to is: https://github.com/NGEET/fates/issues/315

[2019-03-25 18:08] ekluzek commented on #668
@rgknox. Hmmm. I'm on a branch that based off of fates_next_api and using NGEET/fates/sci.1.23.0_api.7.1.0 (which is almost the same as NGEET/fates/master). The Externals in that version aren't working. But, if I update the Externals to those in ctsm1.0.dev031 I do get it to work. What externals are you using and on what machine?

[2019-03-25 20:44] olyson commented on #633
I will create a branch to start this.  Should I branch off master or clm release?

[2019-03-25 20:48] rgknox commented on #668
@ekluzek, I'm running a test on the following:

https://github.com/ESCOMP/ctsm/compare/fates_next_api...rgknox:rgknox-update-externals-FNA

[2019-03-25 20:53] ekluzek commented on #633
Branch off of master. This will just go on master and not the release branch.

[2019-03-25 21:41] ekluzek commented on #667
Note also fails on hobart_nag:

ERS_D_Ld5.1x1_brazil.I2000Clm50FatesCruGs.hobart_nag.clm-FatesHydro

[2019-03-25 21:42] ekluzek commented on #667
The line pointed to before with nag is this:

[code]

[2019-03-27 01:19] slevisconsulting commented on #299
On the Antarctic grid cells topic, I may have discovered a problem. As far as I can tell:
1) ITLEF > 0 ...e.g. ITLEF = 9 in grid cell (16,2) for PFT 12 (arctic grass) when ELAI+ESAI = 0
2) ITLEF > 0 ...e.g. ITLEF = 3 in grid cell (21,3) for PFT 14 (C4 grass) when ELAI+ESAI = 0
Questions:
1) Why ITLEF > 0 when ELAI+ESAI = 0?
2) Why does PFT 14 appear at all in this part of the world?

The following

[2019-03-27 07:59] dlawrenncar commented on #299
Thanks Sam, interesting. Might be worth soon running this by Gordon and
Danica to see if they have any insight.

On Mar 27, 2019, at 2:19 AM, Samuel Levis <notifications@github.com> wrote:

On the Antarctic grid cells topic, I may have discovered a problem. As far
as I can tell:

   1. ITLEF > 0 ...e.g. ITLEF = 9 in grid cell (16,2) for PFT 12 (arctic
   grass) when ELAI+ESAI = 0
   2. ITLEF > 0 .

[2019-03-28 18:07] #665 closed

[2019-03-28 18:07] #666 closed

[2019-03-28 18:08] #668 closed

[2019-03-29 02:35] billsacks commented on #642
@ekluzek - in #651 you said you fixed this issue on the release branch, but I don't see this fix in the latest `release-clm5.0` branch.

I'm going to fix this on master in an upcoming tag: see billsacks/ctsm@3383c41e

[2019-03-29 03:40] ekluzek commented on #642
I was going to do that, but they needed to rebuild the ESMF libraries for them to work again. I intended to take that out of the notes. They've probably done that by now. But, you'll want to make sure that they are working again.

[2019-03-29 11:08] billsacks commented on #642
I ran mkmapdata with 7.1.0r and it seemed to work. When you say they weren't working, were they totally broken (not able to run at all), or subtly broken (ran but buggy)?

[2019-03-29 14:25] ekluzek commented on #642
It was totally broken, so it wouldn't work at all. So if it works now -- that means we are good. They had to totally rebuild all of the ESMF libraries to get them to work. The only subtle issue I know of is the difference between 7.0.0 and 7.1.0r where 7.0.0 can sometimes produce a bad mapping file.

[2019-03-29 16:04] billsacks opened #671 "fmax raw dataset named with wrong resolution"
I noticed that the fmax raw dataset (`lnd/clm2/rawdata/mksrf_fmax_3x3min_USGS_c120911.nc`) is named as being 3 min resolution (and attributes in our xml files also state that it's 3 min resolution), but in fact it is 0.125 deg. I don't think this causes any problems / incorrect behavior, but it's misleading and confusing.

I'll create a new copy of this file with the appropriate name, and change t

[2019-03-29 16:20] billsacks commented on #671
Actually, I think I'll close this as a wontfix: this is turning into a bigger task than I initially envisioned - e.g., involving renaming a bunch of mapping files from this fmax file to all of our supported model resolutions, and doing the necessary testing to make sure I did this right.

[2019-03-29 16:20] #671 closed

[2019-03-29 16:34] slevisconsulting commented on #299
Note about the last two and the next figures:
I generated them by running the test
ERP_D_Ld5.f10_f10_musgs.I2000Clm50Sp.cheyenne_intel.clm-decStart
with output at every timestep. I plotted timestep data from the last three days of the simulation (3 x 48 = 144 data points).

So next I plot the relationship between TV and TSA to show that they are strongly related (not a surprise). I want to make su

[2019-03-29 16:50] billsacks commented on #642
Given that I've done testing on master with this change, I'd suggest simply cherry-picking the relevant commit onto the release branch, without a need for further testing. @ekluzek if you're comfortable with this, I can go ahead and do it.

[2019-03-29 16:56] ekluzek commented on #642
I need to make a new release tag with a FATES update and a bugfix. So I can include this cherry-pick there.

[2019-03-29 17:18] ekluzek commented on #604
Charlie Koven had this to say about impacts on Jan 4th..

And he followed up regarding B compsets with..

And Dave Lawerence agreed with...

[2019-03-29 18:28] slevisconsulting commented on #299
A few other interesting relationships...

![TVvFSH_ITLEFgt15_by_tstep_20020101-03](https://user-images.githubusercontent.com/35322900/55254343-d3ef2700-5214-11e9-96d2-c729067c6764.JPG)

![TVvFGEV_ITLEFgt15_by_tstep_20020101-03](https://user-images.githubusercontent.com/35322900/55254352-df425280-5214-11e9-9cfd-93ed38ae54b2.JPG)

![TVvBTRAN2_ITLEFgt15_by_tstep_20020101-03](https://user-images.githu

[2019-03-29 19:52] ekluzek commented on #657
Fixed in #669

[2019-03-29 19:52] #657 closed

[2019-03-29 19:53] ekluzek commented on #653
Fixed in release-clm5.0.20

[2019-03-29 19:53] #653 closed

[2019-03-29 19:54] ekluzek commented on #653
Fixed in release-clm5.0.20

[2019-03-29 22:00] slevisconsulting commented on #299
Now plotting the effect of lowering itmax_canopy_fluxes on TV.
Skipping itmax_canopy_fluxes = 20 because very little change.

**itmax_canopy_fluxes = 10**

![TVvTV_ITLEFgt9_by_tstep_20020101-03](https://user-images.githubusercontent.com/35322900/55264604-3145a100-5232-11e9-926a-3490cda39caa.JPG)

**itmax_canopy_fluxes = 4**

![TVvTV_ITLEFgt3_by_tstep_20020101-03](https://user-images.githubusercont

[2019-04-01 08:48] lstrebel opened #672 "mksurfdata.pl aborts with "** Invalid ssp_rcp:" for default and explicit ssp_rcp argument. Quotation marks interfere in is_valid_value() function"
### Brief summary of bug

While trying to create a custom data set, using the mksurfdata.pl script, it stops and claims that an invalid ssp_rcp was used as input.
This error occurs regardless of the ssp_rcp argument, i.e. not providing it and using the default: hist or when explicitly providing a ssp_rcp value (e.g. hist, SSP1-2.6, or any other value listed in $CTSMROOT/bld/namelist_files/namelist

[2019-04-01 16:06] olyson commented on #633
I have something on a branch that is working.  It runs for a global test case and it passes this test (including bfb with ctsm1.0.dev031):

ERP_Ld3.f09_g17.I1850Clm50BgcCropCru.cheyenne_intel.clm-ciso

Basically, it replaces the UrbanInput code in UrbanParamsMod.F90 that reads in the urban parameters from the surface dataset with a call to mkurbanpar, the urban lookup table routine, that is in too

[2019-04-01 16:18] billsacks commented on #672
@lstrebel thank you for filing this issue and providing all of this information.

@ekluzek can you take a look at this?

[2019-04-01 16:36] ekluzek commented on #672
This actually works for me in release-clm5.0.19 (at least if I specify a resolution). Giving no arguments to mksurfdata.pl actually makes it run over a default resolution which happens to be conus_30_x8, It dies for me, because of quotes around the resolution that it inserts into the filename.

[code]

@lstrebel the bug description says you are using "release-clm5.0.19-31-gc9868bf". So that shows

[2019-04-02 07:19] lstrebel commented on #672
@ekluzek "release-clm5.0.19-31-gc9868bf" is what I get from git describe just after:
[code]
as described on the webpage.

So I am not working with a different branch than the "release-clm5.0" branch from this repository at the moment. The changes after the "release-clm5.0.19" tag should be the same as the changes here, right? (The last commit in the log is c9868bf5743ababa9e156be9b280028b1ae06d73)

[2019-04-02 20:40] ekluzek commented on #672
Ahhh, OK thanks @lstrebel. Yeah, there's a problem on our end regarding the release-clm5.0.20 tag in git. It's our problem (and specifically my mistake). I've pushed a commit to release-clm5.0, which should resolve that issue. So now release-clm5.0 and release-clm5.0.20 should look the same, and "git describe" in a checkout of release-clm5.0 should say "release-clm5.0.20" rather than "release-clm5

[2019-04-02 20:58] ekluzek commented on #672
OK, now I'm seeing the problem, now that I straightened out the issue with the release branch...

[2019-04-02 21:35] slevisconsulting commented on #299
A few more plots... I will not attempt to piece together a story line, yet.

![ITLEFvBTRAN2_by_tstep_20020101-03](https://user-images.githubusercontent.com/35322900/55437086-e50ca080-5552-11e9-99cf-31ff06514dd3.JPG)
![ITLEFvFGEV_by_tstep_20020101-03](https://user-images.githubusercontent.com/35322900/55437107-f35abc80-5552-11e9-8b31-89b7fa11d57b.JPG)
![ITLEFvRSSUN_by_tstep_20020101-03](https://use

[2019-04-02 21:56] ekluzek commented on #672
@lstrebel OK, I have this simple fix that I'll be bringing into the release branch as a new tag. I haven't tested much with it, but it does seem to work. Thanks for pointing out the problem...

[code]

[2019-04-02 23:29] slevisconsulting commented on #299
Looking at the effect of model timestep on TV and ITLEF...

**dtime = 15 min**

![ITLEFvTV_by_pft_20020101-03](https://user-images.githubusercontent.com/35322900/55442621-49842b80-5564-11e9-9ffc-fefc737570dc.JPG)
![TVvFSH_ITLEFgt15](https://user-images.githubusercontent.com/35322900/55442630-530d9380-5564-11e9-869a-fd546d8d0d2c.JPG)

**dtime = 5 min**
![ITLEFvTV](https://user-images.githubusercont

[2019-04-02 23:32] slevisconsulting commented on #299
I was expecting a shift toward smaller ITLEF with smaller model time step. We do not seem to get such shift.

[2019-04-02 23:43] dlawrenncar commented on #299
These are all very interested plots.  Question: Have you assessed the
performance (speed) of the model if the maximum ITLEF is reduced,
irrespective of the quality of the solution.  I think we have examined
this, but would be good to consider what the potential impact would be in
terms of model speed if ITLEF could be reduced while maintaining a good
solution.  Just asking because if the impact is

[2019-04-03 00:33] slevisconsulting commented on #299
@dlawrenncar , here's what I found for *canopy fluxes* in the cesm_timing_stats files...

itmax  on  processes  threads  count            walltotal           wallmax (proc  thrd)  wallmin (proc  thrd)

40       -    72              72          1.7352e+04  9.445482e+01  2.032 (    21      0)     0.841 (    50      0)
10       -    72              72          1.7352e+04  9.240528e+01  2.005 (    21

[2019-04-03 00:39] slevisconsulting commented on #299
So walltotal gain from
itmax 40 to 10 is 2%
itmax 40 to 7 is 4%
itmax 40 to 4 is 15%
itmax 40 to 2 is 35%

[2019-04-03 07:10] ekluzek opened #673 "Ice shelf wetland fix in mksurfdata_map can lead to glacier+lake > 100% on surface datasets"
### Brief summary of bug

Creating a conus_30_x8 surface dataset and then trying to run with it doesn't work.

### General bug information

**CTSM version you are using:**release-clm5.0.20

**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:** conus_30_x8

### Details of bug

### Important details of your setup / configuration so we can re

[2019-04-03 12:37] billsacks commented on #673
Some findings from a similar failure from @fischer-ncar . Note that @fischer-ncar generated the surface dataset from release-clm5.0.18, and ran with ctsm1.0.30; he found that the error went away if he generated the surface dataset from ctsm1.0.30 (which does *not* have the Antarctica wetlands fix):

This death occurs before the finidat file is read, it doesn't seem we can blame the finidat file.

[2019-04-03 14:04] lstrebel commented on #672
@ekluzek

Yes, thanks, now the branch matches the tag.

I can confirm that this fix also works for my case. So from my side this issue can be closed.

[2019-04-03 14:14] barlage commented on #299
@slevisconsulting A little surprised at your time step tests, at least from visual inspection. In your ITLEF vs. TV plots, is it possible to sum the number of elements in each of the ITLEF bins? e.g. how many had 2 iterations? how many had 3 iterations? is there a shift in the distribution for the time step options? if not, then maybe this is a dead end.

[2019-04-03 16:34] slevisconsulting commented on #299
![ITLEF_freq](https://user-images.githubusercontent.com/35322900/55495879-b9d98e00-55f2-11e9-97a7-9b4b68af9000.JPG)

where n is the number of finite samples,
calculated as the product of these numbers (total samples):
days = 3
tsteps = 48 or 96 or 288
latitudes = 19
longitudes = 24
pfts = 16
minus the number of NaN samples.

[2019-04-03 17:05] ekluzek commented on #299
Sam you might need to normalize that last plot, so you can tell the difference in the relative frequency between the different time-steps. Visually with this, it looks like there isn't any difference -- which is a bit surprising. I'd think to get a shift to lower iterations for the faster time-step. You'd think there'd be a point where if the time-step is fast enough, you would only need one itera

[2019-04-03 17:08] slevisconsulting commented on #299
@barlage , thinking about it this way makes me less surprised:
The frequency of atm data prob. ends up being the limiting factor to improvement when I shorten the ctsm time step. In every time step, the initial conditions used for starting the canopy fluxes iteration are:

`Ts = (Tg + Theta_atm) / 2`
`qs = (qg + q_atm) / 2`

[2019-04-03 17:52] slevisconsulting commented on #299
@ekluzek , I normalized the curves according to each one's sample size to get the frequency per sample. Let me know if that's not what you're suggesting.

![ITLEF_norm_freq](https://user-images.githubusercontent.com/35322900/55501111-8dc40a00-55fe-11e9-9412-23e1da743c82.JPG)

[2019-04-03 18:01] ekluzek commented on #299
That's exactly what I was suggesting, and it makes it more clear. The faster time-steps barely show a lower frequency of larger ITLEF at all -- really makes little difference.

[2019-04-03 18:05] slevisconsulting commented on #299
The same figure, but zoomed in at higher ITLEF, where the rel. frequencies are tiny. Shows that the rel. frequency of ITLEF = 40 hasn't changed:

![ITLEF_norm_freq_zoomed_in](https://user-images.githubusercontent.com/35322900/55501939-60785b80-5600-11e9-838e-fd46974158ed.JPG)

[2019-04-03 18:27] slevisconsulting commented on #299
Here's a thought for everyone to comment on:

As I mentioned earlier, every time step as far as I can tell initializes the iterative solver with
`Ts = (Tg + Theta_atm) / 2`
`qs = (qg + q_atm) / 2`

Partway through the solver, Ts is updated to be a function of Tg, Theta_atm, **and** Tv. Similarly qs is updated to be a function of also Tv.

Might we reduce the number of solver iterations if we stop

[2019-04-03 22:35] slevisconsulting commented on #299
I tried it. It appears to help at the low end of ITLEF...

![ITLEF_norm_freq](https://user-images.githubusercontent.com/35322900/55516870-6cc1e000-5623-11e9-8702-f2e73ed15c26.JPG)

Not much difference at the high end...

![ITLEF_norm_freq_zoomed_in](https://user-images.githubusercontent.com/35322900/55516892-83683700-5623-11e9-8e9c-0e5cbcad29f7.JPG)

New TV (y axis) relative to the default (x axis

[2019-04-04 23:48] ekluzek opened #674 "Allow nlevgrnd less than nlevurb"
### Brief summary of bug

There are some bits of code that address the nlevurb level of arrays that are dimensioned by nlevgrnd. Thus an implicit assumption that nlevgrnd >= nlevurb.

@olyson @barlage

### General bug information

**CTSM version you are using:** ctsm1.0.dev031

**Does this bug cause significantly incorrect results in the model's science?** No
**Configurations affected:**
Non-stand

[2019-04-05 02:39] billsacks commented on #674
@ekluzek I just reworded the title to make it sound more like an enhancement.

[2019-04-05 23:47] ekluzek opened #675 "Enabling carbon isotopes changes answers for transient cases"
### Brief summary of bug

Turning on C13 or C14 shouldn't change answers, and yet it does in certain cases.

### General bug information

**CTSM version you are using:** release-clm5.0.20

**Does this bug cause significantly incorrect results in the model's science?** Maybe?

**Configurations affected:** C13 or C14 turned on

### Details of bug

Adding use_c13=T or use_c14=T, to the SSPRCP126 comp

[2019-04-05 23:55] ekluzek commented on #675
Note, that we don't see this in every case. The first month for BHIST, B1850, BW1850, BWHIST with and without cmip6 are identical (and cmip6 turns on c13 and c14 as well as both of the c13/c14 time-series files). So the cases that start at 1850, and have spunup Carbon isotopes from REFCASE files, all work as expected with identical answers (for at least the first month).

[2019-04-06 01:14] slevisconsulting commented on #299
Here's something else that seems to help at the low end and not at the high end of ITLEF:

One of the criteria for convergence is...
∆𝑇𝑣 < 0.01K
where
∆𝑇𝑣 =max (︀⃒⃒𝑇(𝑛+1)𝑣 − 𝑇(𝑛)𝑣⃒⃒ ,  ⃒⃒𝑇(𝑛)𝑣 − 𝑇(𝑛−1)𝑣⃒⃒)

Here I have changed this to...
∆𝑇𝑣 =(︀⃒⃒𝑇(𝑛+1)𝑣 − 𝑇(𝑛)𝑣⃒⃒ )

![ITLEF_norm_freq](https://user-images.githubusercontent.com/35322900/55663020-62901500-57ce-11e9-883c-1307e7c0fb21.JPG)
![ITLEF_nor

[2019-04-06 02:29] slevisconsulting commented on #299
Now something that helped more at the high end than the low end of ITLEF, so I don't even show the low end plot:

The algorithm constrains 𝑇𝑣 to change by no more than 1K per iteration. I modified the constraint to 10K and got...

![ITLEF_norm_freq_zoomed_in](https://user-images.githubusercontent.com/35322900/55663850-0da5cc00-57d9-11e9-84be-d57b4d7f288b.JPG)
![TV_case2_v_TV_case1_ITLEFgt1](https:

[2019-04-06 07:30] ekluzek commented on #675
Here's the list of fields different for the case when c14 is turned on rather than c13 (again after 1 time step).

[code]

[2019-04-06 07:32] ekluzek commented on #675
The fields that are ignored are for C14 (and a similar list for C13):

Could not find match for file1 variable C14_AR in file2
 Could not find match for file1 variable C14_GPP in file2
 Could not find match for file1 variable C14_HR in file2
 Could not find match for file1 variable C14_NBP in file2
 Could not find match for file1 variable C14_SOILC_vr in file2
 Could not find match for file1 varia

[2019-04-06 07:41] ekluzek commented on #675
The difference between the C13 and C14 case is limited to two fields (after 20 time-steps).

 RMS time_bounds                      1.3258E-01            NORMALIZED  8.7779E-01
 RMS FSDS                             9.2472E+01            NORMALIZED  4.7918E-01

[2019-04-06 17:25] ekluzek commented on #675
Strangely the case with BOTH c13 and c14 on is different from all the previous cases: no-ciso, c13 (by 117 fields), and c14 (by 157 fields). That's just at the first time-step.

[2019-04-06 18:48] ekluzek commented on #675
Turning on c13 timeseries, and comparing to c13 alone, gives answer changes, but it looks like it may largely be roundoff. 248 fields differ after 36000 seconds (20 time-steps), but the RMS difference is between E-11 and E-30, with the median around E-19, only 16 greater than E-14.

[2019-04-08 15:48] billsacks commented on #55
Fixed by ctsm1.0.dev032

[2019-04-08 15:48] #55 closed

[2019-04-08 16:19] billsacks commented on #674
From a quick look through the code, I think it will take some care to ensure that we find and fix all relevant places. For example, consider this loop:

https://github.com/ESCOMP/ctsm/blob/e96cce8cbfc2e00175e224849ea174145313cf01/src/biogeophys/SoilFluxesMod.F90#L375-L389

This loop seems to implicitly assume that nlevurb <= nlevgrnd (if nlevurb > nlevgrnd, not all urban layers would be handled cu

[2019-04-09 19:47] ekluzek opened #678 "Mask name is wrong for gx1v7 for clm40 on release"
### Brief summary of bug

Typo in gx1v7 mask for Clm40 compsets.

### General bug information

**CTSM version you are using:** release-clm5.0.20

**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:** Clm40 with a gx1v7 mask

### Details of bug

[code]

[2019-04-09 19:50] ekluzek commented on #678
Cecile is the one that noticed this problem:

[2019-04-11 18:50] slevisconsulting commented on #286
Tasks that I see mentioned above...

Sean's suggestion:
- Separate the masks from the mapping files to reduce the number of mapping files needed
- Keep the masks in new mask files and use when needed

Mariana's suggestion:
- Create the mapping files on the fly, while running mksurfdata_map. I expect that this is within the scope of #641

[2019-04-11 18:52] slevisconsulting commented on #286
Corrected previous post to say #644

[2019-04-11 18:55] negin513 opened #680 "Pull some hard-coded parameters out to netcdf file"

[2019-04-11 19:04] rgknox opened #681 "small dataset option for DATM_PRESAERO"
### Details of support request

I don't have a great sense of what the DATM_PRESAERO data does.  I think its for snow albedo right?  But if this dataset does not have a significant impact on land simulations of terrestrial vegetation, I was wondering if there is a cheaper dataset that could be used instead of:

aerosoldep_WACCM.ensmean_monthly_hist_1849-2015_0.9x1.25_CMIP6_c180926.nc

I suppose it

[2019-04-11 19:10] #581 closed

[2019-04-11 19:32] billsacks commented on #286
@slevisconsulting - yes, Mariana's suggestion is in the scope of #644 , so this issue relates to Sean's suggestions, which we thought were a good idea both for the sake of dataset management and efficiency. Note that this will require changes to mksurfdata_map as well as the scripts / xml related to our dataset management.

[2019-04-11 19:39] slevisconsulting commented on #643
My current understanding:

1) The ocgis call should replace this command in mkmapdata.sh:

cmd="$mpirun $ESMF_REGRID --ignore_unmapped -s ${INGRID[nfile]} "

By "ocgis call" we mean parts of Ben's bash script that does the spatial subsetting and weight generation:
https://github.com/NCPP/ocgis/blob/i488-full-regrid/examples/do-chunked-rwg-with-ss.sh

I would like an expert's opinion on which parts

[2019-04-11 20:03] slevisconsulting commented on #680
For reference, this is  @katiedagon 's list of parameters:
https://docs.google.com/spreadsheets/d/1cRmcB0xz7CjVP6ljUoCehJx49Usxsore5ma4mWcvQwM/edit#gid=0

[2019-04-11 22:27] slevisconsulting commented on #680
@katiedagon tells me that she pulled some of the parameters out to the namelist. So question...

Are we pulling params to a netcdf file (as the issue is titled) or to the namelist? OR should we decide one parameter at a time? And might some parameters belong in the  paramfile = '/glade/p/cesmdata/cseg/inputdata/lnd/clm2/paramdata/clm5_params.c171117.nc'

[2019-04-11 23:21] katiedagon commented on #680
Great question! This came up during the last CLM meeting, when @billsacks was discussing whether we should include all of the default namelist values in the current lnd_in file.

The way I see it, the current paramfile (netcdf) is for PFT-dependent parameters, so they have that extra dimension of variability. The parameters I identify in the spreadsheet probably do not fit this criteria, though th

[2019-04-11 23:29] ekluzek commented on #680
Yes, we've gone back and forth on this. There are some scalar parameters that are on the PFT paramfile, and there are some that in namelist. At one point we were going to put all parameters on the same paramfile. But, then we started only putting the PFT dependent ones, and the scalars in the namelist. Now, as a longer term goal we want to have everything on a netCDF file. So as a short term goal

[2019-04-11 23:47] slevisconsulting commented on #680
Another question for you @katiedagon
Could you add a couple of new columns to the google sheet as follows?
- Moved to namelist (Yes/No)
- Pft dependent (Yes/No)

[2019-04-11 23:54] katiedagon commented on #680
@ekluzek Yes, it is located here: https://github.com/katiedagon/ctsm/tree/ParamEns
And the specific commit where I made the code modifications is here:
https://github.com/katiedagon/ctsm/commit/4f353409f890d2068b2cb0d0f7c4fb928bdd85ae

I tried to follow the code for examples of creating new namelist parameters, but if there are best practices I should be following please let me know.

@slevisconsu

[2019-04-12 01:59] billsacks commented on #680
Putting these scalar parameters on the namelist is fine, especially if @katiedagon has already done some work along these lines.

However, I want to mention: In CLM software meetings over the last few months, we had come up with the plan of moving any new real-valued parameters to the netcdf file rather than to the namelist file. The rationale is that that moves us closer to the long-term directio

[2019-04-12 03:01] ekluzek commented on #680
@billsacks that's my view as well. Since, @katiedagon has already moved some things to namelist and has a branch for that -- we might as well take advantage of that in the short term. But, new work should put parameters on the paramsfile. So I think you and I are in sync on that. But, not everyone has been in all the discussions we've had on this.

[2019-04-12 05:33] ekluzek commented on #681
The main affect is certainly in snow. But, I think it might have an effect on maybe a few other things, looking at the code. We used to have datasets for single years, and a different dataset for historical. But, this means you have to coordinate three files, rather than just one. And with the one dataset, you know each of the single years within it are going to be the same as the historical. This

[2019-04-12 11:14] billsacks commented on #680
Yup, sorry: I didn't mean for my comment to sound like, "Hey, we've already talked about this!" Rather, I wanted to bring people that haven't been in the loop into the loop (with apologies for not doing so earlier!)

[2019-04-12 14:43] dlawrenncar commented on #680
Not clear to me why we would not start now with putting all newly pulled
parameters o to the netCDF file. We are going to move that way at some
point anyway so might as well start now, right?

On Apr 11, 2019, at 5:29 PM, Erik Kluzek <notifications@github.com> wrote:

Yes, we've gone back and forth on this. There are some scalar parameters
that are on the PFT paramfile, and there are some that in

[2019-04-12 16:00] ekluzek commented on #680
@dlawrenncar that is what we are proposing at this point. We want to adopt @katiedagon's branch, just because it's already been done. But, for new work, they should be added to the paramfile regardless of what type of field they are (scalar or PFT dependent). There will still be more work when we have the full vision of fields in the XML database, and the paramfile created as part of buildnml. But

[2019-04-12 17:34] rgknox commented on #681
Sure, I could help run some tests @ekluzek.   I would label this as low-priority for my personal needs (just waiting for a download afaik), but if you think this would be a useful improvement, I'm happy to help.

[2019-04-12 18:00] slevisconsulting commented on #680
I support the decision to add new parameters to the params.nc file.

I have now also looked @katiedagon 's branch here  katiedagon@4f35340 . In this branch Katie placed 2 of the 21 parameters in the namelist. Is it still worth starting from Katie's branch for these two parameters, or should I place all 21 parameters in the params.nc file? I vote for the latter and am not attached either way.

[2019-04-12 18:21] billsacks commented on #680
Either way is fine with me.

[2019-04-12 22:34] ekluzek commented on #680
Up to you @slevisconsulting. I was envisioning that perhaps Katie's branch had many parameters converted.  Using her branch would probably make it easier for her to use immediately. But, since we want these things on the paramfile in the longer term, it doesn't matter too much if it's just two parameters....

[2019-04-12 23:14] slevisconsulting commented on #680
**STEP 1.**  Created new params.nc file with data from @katiedagon 's google sheet (link avail. near the top of this page). Lead reviewer for this issue (and/or others), pls review the new file:

/glade/p/cesmdata/cseg/inputdata/lnd/clm2/paramdata/clm5_params.c190412.nc

[2019-04-12 23:22] slevisconsulting commented on #680
BTW thank you @katiedagon for compiling the google sheet; it has already been very helpful.

I ended up using the "PFT-dependent" column info to set the pft-dependent parameter dimensions to "allpfts" and the pft-independent parameter dimensions to scalar. The dimension allpfts was already in the file and set to 1.

[2019-04-12 23:30] ekluzek commented on #262
Datasets were added for this into release-clm5.0.18. It looks like they were untested however.

[2019-04-12 23:37] ekluzek commented on #262
The version in release-clm5.0.18 dies with the following error, trying to get the natpft dimension.

[code]

[2019-04-12 23:45] slevisconsulting commented on #680
Next I envision doing the following...
- Change default namelist entry for paramfile
- Test on hobart: expect bfb to baseline
- Modify pftconMod.F90 to read the new parameters
- Transmit the new parameters to their respective pieces of code
- Remove obsolete declarations of same hardwired parameters
- Test on hobart first: expect bfb to baseline

[2019-04-15 12:23] rosiealice opened #683 "Write statement needs a 'masterproc' conditional for FATES parameter reads"
Where the FATES parameters are read, the model is spitting out a write statement for every processor, which make looking at the log file for larger/global runs somewhat heavy going. I guess it just needs a 'masterproc' round this line?

https://github.com/ESCOMP/ctsm/blob/f9a14ac13b4c2553fa7ea922fb4a37ac1c2c0561/src/utils/clmfates_paraminterfaceMod.F90#L230

[2019-04-15 19:49] billsacks commented on #643
From today's discussion: Next step is to just play around with using ocgis, to make sure it will work for our use cases with reasonable memory, time, etc. We can worry about getting a robustly engineered solution as a following step. Can start by just seeing what the cmds are that are done by mkmapdata.

[2019-04-15 20:10] billsacks commented on #680
A couple of comments:

(1) Let's put the param reads in the module where we need a given param

(2) Change code like this:

[code]

to ideally a one-line call to some utility function. See paramUtilMod for something you may be able to use for that.

[2019-04-15 20:13] slevisconsulting commented on #680
At today's CLM Software Update meeting we decided to remove the allpfts dimension entirely from the params.nc file.

[2019-04-16 15:19] dlawrenncar commented on #681
For the record, aerosol deposition only affects snow albedos.

On Fri, Apr 12, 2019 at 11:34 AM Ryan Knox <notifications@github.com> wrote:

[2019-04-16 16:02] billsacks commented on #585
I was thinking a bit about the build-namelist unit tester (`build-namelist_test.pl`), and how we can make this easier to work with when we move to python. I think that part of what makes the current script hard to work with is that it's mostly one long function with a bunch of different tests. This makes it hard to tell which parts of the script apply to all tests, which apply to some tests, and w

[2019-04-16 16:10] ekluzek commented on #681
Thanks for that clarification @dlawrenncar. It looked like that was the case, but hard to tell for sure. And as with everything there could be a bug in the code that means it's not working the way it should.

[2019-04-16 16:48] slevisconsulting commented on #680
Dimension allpfts removed. I have replaced the params.nc file with this one:
/glade/p/cesm/cseg/inputdata/lnd/clm2/paramdata/clm5_params.c190416.nc

[2019-04-16 22:02] #456 closed

[2019-04-17 19:12] klindsay28 commented on #675
subroutine `DynamicAreaConservation` of biogeochem/CNVegetationFacade.F90 has the following lines of code:
[code]

Passing `soilbiogeochem_carbonstate_inst` to `CStateUpdateDynPatch` in the `use_c13` and `use_c14` blocks, instead of `c13_soilbiogeochem_carbonstate_inst` and `c14_soilbiogeochem_carbonstate_inst` looks suspiscious to me. It looks like perhaps `soilbiogeochem_carbonstate_inst` is get

[2019-04-17 19:34] ekluzek commented on #675
Ohh, nice, thanks for finding that @klindsay28!

I think you are right, this looks wrong. It looks to me that the code should be...

[code]

[2019-04-17 19:58] billsacks commented on #675
Yes, good find indeed @klindsay28 ! Mea culpa! I agree with the fix.

@bishtgautam you may want to check whether the same bug exists in ELM.

[2019-04-17 20:02] bishtgautam commented on #675
@billsacks Thanks for pointing this out

[2019-04-17 20:25] klindsay28 commented on #675
I've tested those changes in 2 5-day long coupled ssp585 experiments, with and without carbon isotopes. CLM output, written every timestep, in these experiments is identical, and agrees with output from a non-isotope experiment done without the changes.

[2019-04-17 20:31] dlawrenncar commented on #675
Seems like there could be consequences in longer runs for the stable C,
which is unfortunate.  I'm not sure we can properly anticipate what the
impacts would be without a long test.  But ... either way this is a bug
that needs to be fixed.

On Wed, Apr 17, 2019 at 2:25 PM Keith Lindsay <notifications@github.com>
wrote:

[2019-04-17 21:03] ekluzek commented on #675
I have a branch on my fork "cisofix" with the fix put into place.

[2019-04-17 21:13] billsacks opened #686 "Add a system test: turning on carbon isotopes shouldn't change answers"
We should have a test that runs done with and without carbon isotopes don't change answers. This would be similar to #571 , and similar to the existing LVG test.

With the new cprnc, for this to pass, we'd need a namelist flag that turns off the carbon isotope diagnostic fields so that there are no differences in field lists.

[2019-04-17 21:16] billsacks commented on #571
See also #686 - similar test for C isotopes.

With the new cprnc, for this to pass, we'd need a namelist flag that turns off the water isotope diagnostic fields so that there are no differences in field lists.

[2019-04-17 21:26] ekluzek commented on #686
I've got this started. I'm calling it LCISO for Land Carbon ISOtope test.

[2019-04-17 21:32] billsacks commented on #675
(Maybe this is already apparent to everyone following this issue, but in case not....)

I believe the impact of this bug is the following: When there are changes in patch areas (in the first timestep of each year in a run with transient vegetation), what's supposed to happen is: The bulk soil C pools get an addition of C equal to (some fraction of?) the bulk C in roots, and similarly for the C iso

[2019-04-17 22:07] billsacks commented on #314
Tagging this high priority to avoid further problems like #675 .

[2019-04-17 22:07] billsacks commented on #315
Tagging this high priority along with #314 to avoid further problems like #675 .

[2019-04-17 22:08] billsacks commented on #201
Tagging this high priority along with #314  to avoid further problems like #675 .

[2019-04-18 15:02] slevisconsulting commented on #299
In BareGroundFluxes I don't think that this is the case because I see
`integer, parameter  :: niters = 3  ! maximum number of iterations for surface temperature

[2019-04-18 20:42] slevisconsulting commented on #299
My presentation at today's CLM meeting of the work this far:
https://docs.google.com/presentation/d/1dN8u3NRdv9rOfYvsOp2ukygj8-C-5f-xEEfxaRTVWwU/edit?usp=sharing

Suggestions for follow-up work:
- @dlawrenncar asked for timing gains from the tests shown above. I will add to the notes above.
- @swensosc will share info about single-point cases where he found high ITLEF
- If such info doesn't help,

[2019-04-19 19:01] billsacks commented on #300
We could also - or alternatively - check the various flags that turn on changes in subgrid areas (various do_transient flags, plus glc_do_dynglacier; are there any others?). If these are all true, then I think we can avoid doing most/all of this dyn subgrid stuff... but I need to look at that more carefully.

[2019-04-19 19:16] billsacks opened #688 "Try to speed up SurfaceAlbedo"
From test `PFS.f09_g17.I2000Ctsm50NwpSpGswpGs.cheyenne_intel` from 64afc8a, one thing that stands out is the 'surfalb' time: this is responsible for nearly 25% of the total run time.

One thing I notice about SurfaceAlbedo is that most calculations are done on full arrays, rather than using filters. I think this is done this way because this routine is called near the end of the time step in order

[2019-04-20 05:12] ekluzek commented on #262
First problem is just a bad filename:

[code]

[2019-04-20 05:13] ekluzek commented on #262
But, then the mask on the mapping file is different on the grid so it dies due to that problem.

[2019-04-21 16:39] billsacks commented on #199
Now that we're not supporting snowveg_flag = 'OFF' (so are just supporting 'ON' and 'ON_RAD'), I'm changing the string-valued snowveg_flag to a logical, `snowveg_affects_radiation`, because this feels cleaner both in the namelist and in the code. @ekluzek @dlawrenncar @olyson let me know if you object to this change.

[2019-04-22 13:56] dlawrenncar commented on #199
This sounds reasonable to me.

On Sun, Apr 21, 2019 at 10:39 AM Bill Sacks <notifications@github.com>
wrote:

[2019-04-22 18:58] billsacks commented on #201
It looks like this has been done in e3sm (maybe by @bishtgautam ), so that implementation could be used as a guide.

[2019-04-22 18:59] billsacks commented on #314
It looks like @bishtgautam has put in place these grid cell level checks in e3sm master.

@bishtgautam Can you say why you ended up doing the gridcell-level CN balance checks immediately after the dyn subgrid stuff rather than near the end of the time loop (as is done for the gridcell-level water balance checks)? Do you remember if there was a problem with the latter for CN balance checks?

[2019-04-22 19:22] dlawrenncar commented on #675
Diagnostics from a run with the bug fix compared to control run are here:

[http://webext.cgd.ucar.edu/I20TR/clm50_release-clm5.0.20_1deg_GSWP3V1_isofix2_hist/lnd/clm50_release-clm5.0.20_1deg_GSWP3V1_isofix2_hist.1995_2014-clm50_release-clm5.0.20_1deg_GSWP3V1_isofix_hist.1995_2014/setsIndex.html]

Main message is that bulk carbon is essentially not affected, fortunately.  Significant impacts on 13

[2019-04-22 20:05] bishtgautam commented on #314
@billsacks, The pseudo code I mentioned in https://github.com/ESCOMP/ctsm/issues/314#issuecomment-384101074 was only to perform grid-level checks before and after dyn subgrid. The aim was to check if dyn subgrid is conserving CN at grid-level.

Here is a possible extension of my current code to introduce new `BeginGridCBalance()`/`EndGridCBalance()` that check the conservation of Carbon at grid-le

[2019-04-22 20:16] bishtgautam commented on #201
A grid level water balance check have been added in ELM, but I believe that balance check only works for the case when dyn subgrid driver isn't active.

- `BeginGridWaterBalance()` [in BalanceCheckMod.F90#L703
](https://github.com/E3SM-Project/E3SM/blob/master/components/clm/src/biogeophys/BalanceCheckMod.F90#L703)
- `EndGridWaterBalance()`  [in BalanceCheckMod.F90#L844
](https://github.com/E3SM-P

[2019-04-22 20:19] billsacks commented on #674
@olyson can you please take this on at some point?

[2019-04-22 22:52] olyson commented on #674
Ok.  Start by branching off of master?

[2019-04-22 23:00] ekluzek commented on #674
Yes, we want this to go onto master. So starting with latest master would be good.

[2019-04-23 02:20] #199 closed

[2019-04-23 04:36] ekluzek commented on #686
A good test for this is: LCISO_Lm13.f10_f10_musgs.IHistClm50BgcCrop.cheyenne_intel.clm-ciso_monthly. It fails without the bug fix and passes with it.

[2019-04-23 11:43] billsacks commented on #686
Great, thanks @ekluzek . I find it helpful when tests have a comment describing why we have this particular test - for the sake of later test suite rework. If you haven't already, can you please add a comment like, "Want a LCISO test of a transient case that crosses the year boundary. Would have used a decStart test if ESCOMP/ctsm#404 were resolved."

[2019-04-23 17:01] billsacks commented on #201
Thanks, @bishtgautam !

Also, a suggestion from @dlawrenncar - If the performance cost of the column-level checks is significant, we could do something like: Initialize both the gridcell and column-level balance checks. Then, at the end of the time step, just do the gridcell-level check; only do the column-level check if this gridcell-level check fails. The rationale is: the gridcell-level check s

[2019-04-23 17:03] billsacks commented on #314
Thanks @bishtgautam !

Also, a suggestion from @dlawrenncar - If the performance cost of the column-level checks is significant, we could do something like: Initialize both the gridcell and column-level balance checks. Then, at the end of the time step, just do the gridcell-level check; only do the column-level check if this gridcell-level check fails. The rationale is: the gridcell-level check sh

[2019-04-23 19:18] billsacks opened #690 "More thoroughly investigate answer changes in ctsm1.0.dev001"
ctsm1.0.dev001 included the following answer changes:
- Larger than roundoff-level changes expected from the following:
  * Include qflx_h2osfc_surf in BGC code: expected to be same climate
  * Two changes just affecting VIC
  * A change just affecting the QOVER diagnostic field
- Additional changes believed to be roundoff-level

June 28, 2018, @olyson ran the ensemble consistency test against rel

[2019-04-23 19:19] billsacks commented on #690
@dlawrenncar @olyson feel free to mark this as a wontfix if you feel like this has been tested sufficiently.

[2019-04-23 19:26] billsacks opened #691 "More thoroughly investigate answer changes in dev019, dev020 and dev035"
I have looked into what CTSM master tags from ctsm1.0.dev001 through the present could warrant more careful investigation to verify that they haven't changed climate. Other than ctsm1.0.dev001 itself (#690 ), the ones that could use investigation are ctsm1.0.dev019, ctsm1.0.dev020 and ctsm1.0.dev035. I'm thinking it could be worth batching these changes together and running a single set of verific

[2019-04-24 16:42] ekluzek opened #692 "run_sys_tests doesn't run under Python-3 and ncar_pylib"
### Brief summary of bug

run_sys_tests fails when running with python-3 and the ncar_pylib environment.

### General bug information

**CTSM version you are using:** ctsm1.0.dev035-7-g0b2970e (will be ctsm1.0.dev036)
**Does this bug cause significantly incorrect results in the model's science?** No
**Configurations affected:** run_sys_tests on cheyenne with python3 and ncar_pylib
### Details of b

[2019-04-24 16:51] ekluzek opened #693 "Use of --extra-create-test-args " -r cases" to run_sys_tests, puts "cases" under HOME directory on hobart"
### Brief summary of bug

It doesn't do this on cheyenne, but only hobart. By my adding the directive to put the test cases under the "cases" subdirectory puts it under $HOME/cases. On cheyenne it puts it under $CTSMROOT as I would expect it to.

### General bug information

**CTSM version you are using:** ctsm1.0.dev036
**Does this bug cause significantly incorrect results in the model's science?

[2019-04-24 17:57] billsacks commented on #692
I think we may need `universal_newlines` in the call to subprocess.Popen. I'll try that out.

[2019-04-24 18:14] billsacks commented on #693
Keep in mind that run_sys_tests runs the create_test command via a batch job. So I think this is a result of what directory you're in when a batch job starts up. On hobart, I guess you start out in your home directory, rather than the current directory, so all paths you specify are relative to that.

Taking a step back, you may want to consider if there is still value in specifying '-r cases' with

[2019-04-24 19:54] ekluzek commented on #693
That make sense. That is how batch works on hobart. I mistakenly thought it might be hardcoded into the script, and if so I wanted to remove that. Yeah, since I'm converting from how I used to run to using run_sys_tests, I'll try out the way it runs it and see what I think. It's possible I don't need the "-r cases" anymore. I explicitly use that name, because there is a gitignore for cases under c

[2019-04-24 19:57] ekluzek commented on #692
Dick Valent of CISL consulting is looking into it. Here's the CISL ticket for it 287972.

[2019-04-24 20:07] olyson commented on #690
I ran the 9step test on this just now and it passes overall but fails one PC for one ensemble member.

![ctsm1 0 dev001_statistical_verification](https://user-images.githubusercontent.com/18671367/56690232-331c4c00-669a-11e9-8e62-804837eff631.PNG)

[2019-04-24 20:09] billsacks commented on #692
My sense is that this is a legitimate problem with run_sys_tests using recent python versions. See #696 for a fix. Please go ahead and merge that PR if you feel it fixes the problem.

[2019-04-24 20:21] billsacks commented on #690
@olyson what was the baseline tag for this?

[2019-04-24 20:44] olyson commented on #690
It is supposed to be pointing to this:
/gpfs/fs1/p/cesmdata/cseg/inputdata/validation/uf_ensembles/cesm2.0

[2019-04-24 20:55] olyson commented on #690
There is an attribute added to the netcdf files that I uploaded that include the model version:

model_version=cesm2.0.0

I used release-cesm2.0.0 but with ctsm1.0.dev001 to run the simulations required.

[2019-04-24 22:23] billsacks commented on #690
Huh, that's strange. cesm2.0.0 uses release-clm5.0.01, which is what you used as a baseline last June (I think). But you're getting different conclusions now vs. before?

[2019-04-24 22:34] olyson commented on #690
Yes, I replaced release-clm5.0.01 in my checkout of release-cesm2.0.0 with ctsm1.0.dev001
The difference is limited to 1 PC score for 1 run.  Maybe due to compiler or module changes? I had to update the modules to get this to work.

[2019-04-24 23:08] billsacks commented on #690
Oh, okay: now that I look more closely, I see that the overall result is a pass, like before.

So I guess the question remains, for you and/or @dlawrenncar , whether this is sufficient or we should do some additional confirmation.

[2019-04-25 01:19] dlawrenncar commented on #690
I think this is sufficient.

On Apr 24, 2019, at 5:08 PM, Bill Sacks <notifications@github.com> wrote:

Oh, okay: now that I look more closely, I see that the overall result is a
pass, like before.

So I guess the question remains, for you and/or @dlawrenncar
<https://github.com/dlawrenncar> , whether this is sufficient or we should
do some additional confirmation.

—
You are receiving this becaus

[2019-04-25 01:34] billsacks commented on #690
Thanks, @dlawrenncar . I'll close this issue then.

[2019-04-25 01:34] #690 closed

[2019-04-25 18:59] ekluzek opened #697 "New high resolution PFT data has a different landmask over Antarctica"
The new high resolution PFT raw data file has a slightly different landmask than the previous one. The difference is ONLY over Antarctica. Since, most of Antarctica is 100% glacier, this change won't actually make a difference EXCEPT for some coastal points that have some bare soil. I've got the process to work using the old landmask, but updating the landmask would take some effort. A new SCRIP g

[2019-04-25 20:20] billsacks commented on #697
Summarizing the discussion I just had with @ekluzek

If the difference is that the new dataset has land in a small number of points where the old had ocean, then this doesn't seem like a big deal: those points would just be treated as ocean, as they were before.

However, if the difference is that the new dataset has ocean where the old had land, then we need to confirm that the new dataset has re

[2019-04-26 07:22] #675 closed

[2019-04-26 07:22] #686 closed

[2019-04-26 07:22] #692 closed

[2019-04-26 21:33] billsacks opened #699 "Canopy liquid and snow capacities not enforced consistently?"
I'm not sure if this is actually a bug, but it looks weird to me, and I'd like to at least get someone to sign off on this:

In CanopyHydrology, there is this code for enforcing canopy liquid and snow capacities (corresponding to equations 2.7.8 and 2.7.9 in https://escomp.github.io/ctsm-docs/doc/build/html/tech_note/Hydrology/CLM50_Tech_Note_Hydrology.html):

https://github.com/ESCOMP/ctsm/blob/8

[2019-04-29 15:03] olyson opened #700 "Some stream years are incorrect out of the box for SSPs"
### Brief summary of bug

Some namelist items associated with streams are incorrect out of the box for SSPs

### General bug information

relcisofix.n01_release-clm5.0.20

**Does this bug cause significantly incorrect results in the model's science?** [Yes / No]

Yes.  These compsets are affected: BSSP585, BSSP126, BSSP245, BSSP370

### Details of bug

The following settings are incorrect:
model_y

[2019-04-29 15:34] ekluzek commented on #700
@olyson we should discuss this a bit. The 1850 start/align years comes over from the CMIP5 rcp settings. If the start and align agree it should have the correct alignment. So should give correct results. The advantage of having 1850 over 2015 though is that you can use future scenarios for historical simulations as a way to have data beyond the current end of our data.

ndep_taxmode is definitely

[2019-04-29 16:08] olyson commented on #700
I guess I can see that the urbantv and popdens are ok then, although I'm not sure why we had decided to change it in Nan's SSP585 simulation.
But the ndep data goes from 2014 to 2101.  Will the right data be read in if stream_year_first_ndep = 1850 and model_year_align_ndep = 1850?

[2019-04-29 16:57] mvertens commented on #700
Will this effect the simulations we are setting up. It would be good to
confirm this before we create the experimental tags.

On Mon, Apr 29, 2019 at 10:08 AM Keith Oleson <notifications@github.com>
wrote:

[2019-04-29 18:06] ekluzek commented on #700
@olyson it will do the right thing, although it looks wrong. If it weren't getting the right year we'd likely see it in our testing already. I think the reason we changed it for Nan's simulation was that we gave her the changes to make by hand rather than referring to the CMIP5 cases.

With a lot of these datasets I've tacked the historical part on the front of the SSP periods, to make them more f

[2019-04-29 18:49] olyson commented on #700
I looked at Chris' SSP585 test and it is reading in time samples 12 and 13 from the ndep file at the start of the simulation.  Which should be Dec, 2014 and Jan, 2015, and is correct.
I also checked the popd and urbantv streams and the right time slices are being read in as well.
So I agree that all is working correctly.

We could discuss tacking on the historical at the beginning of the ndep (and

[2019-04-29 20:35] ekluzek commented on #700
We talked about this at our CLM software meeting. The use case of using a SSP to get more recent data is a common one -- but a special case. And it's something that you would need to make changes for anyway. So we should set this up out of box to be specific for the standard SSP cases that we are doing. The start/align years here aren't "wrong" -- but it looks a bit odd. So I'll update them as we

[2019-04-29 21:49] billsacks commented on #404
This seems to have been fixed by ctsm1.0.dev036, though I can't completely understand why. (I can't understand (1) why the bug that was fixed in ctsm1.0.dev036 led to this C balance error, given that the time step's C balance checks are initialized after the buggy fluxes; and (2) why this bug would have led to a problem in a decStart test but not a multi-year test that starts in Jan 1.)

[2019-04-29 21:49] #404 closed

[2019-04-29 22:01] billsacks commented on #511
I was thinking a little more about what option (3) could look like:

**(3) Add a system test that checks this somehow**

One option is: We could initialize each state with different tracer ratios. Then, if a particular namelist flag (which is labeled clearly as for-testing-only!) is set: In all water state updates, we would ignore incoming fluxes, only keeping the outgoing fluxes. Then I think eac

[2019-04-29 23:34] rgknox opened #701 "small range on netcdf floats?"
I've noticed that the CTSM parameter files have changed over to using double precision as a default for storing floating point numbers.  In FATES we are still using "float" or single precision floating point variables, and I noticed an unexpected problem.

*Note that in fates, our parameter interface only allows for floating point values (double and single prec.)

We have a field called fates_logg

[2019-04-30 04:51] ekluzek commented on #701
@rgknox, this seems about right to me. Rounding for single precision is about 1.e-8 and that's the level you are at. You can represent individual numbers to a higher degree of precision, but at about a relative error of 1.e-8 you'll start to see it rounding. So I would say this is happening as expected. But, yes the solution is to use double precision (or for these specific numbers you could repre

[2019-04-30 05:02] ekluzek commented on #701
Here's more information on machine epsilon than you likely want to know...

https://en.wikipedia.org/wiki/Machine_epsilon

[2019-04-30 07:23] ekluzek opened #702 "Add historical period to start of ndep SSP files"
To make it easier to use a SSP file to run historical periods up to the current latest date (because our historical period is constantly getting further behind) -- we want to add the historical period for 1850-2013 to the beginning of each of the ndep SSP files.

[2019-04-30 15:01] olyson commented on #699
I don't really understand the need for this either.  There's no paper on this and Justin is unlikely to respond. Seems like it could be removed and tested to see what effect it has.  I'm happy to do the testing if this is the way we want to go.

[2019-04-30 15:20] billsacks commented on #699
Thanks, @olyson . I just talked with @swensosc and it sounds like he also thinks this conditional shouldn't be here - i.e., this block of code should compute both excess liquid and excess snow runoff, regardless of temperature. @olyson if you'd be willing to look at the scientific impact, that would be great. I haven't talked with Dave about it yet, so I'll leave it to you whether you want to chec

[2019-04-30 15:46] olyson commented on #699
I'll just test it with an I2000 case and see what happens.

[2019-04-30 17:51] olyson commented on #699
Dave suggested creating a tag with this change and folding it into the CTSM testing that I'll be doing, if you think that is acceptable.
On the subject of CTSM testing, Dave and I talked and thought that we would re-run a section near the end of a control historical simulation with the tag in question and examine our regular diagnostics.
So, our first comparison would be the tag with this change c

[2019-04-30 17:56] rgknox commented on #701
Thanks for the info @ekluzek, feel free to close if you like

[2019-04-30 20:36] slevisconsulting commented on #299
**zetamaxstable = 2 and 100 made things worse compared to the default.** In these figures, "just" means "this is the only change" and "same" means that changes were applied cumulatively.

![ITLEF_norm_freq](https://user-images.githubusercontent.com/35322900/56991586-dcf15200-6b4c-11e9-8eb1-d8aa59a4cb5c.JPG)
![ITLEF_norm_freq_zoomed_in](https://user-images.githubusercontent.com/35322900/56991587-dc

[2019-04-30 21:06] swensosc commented on #299
That's what I would have expected.   We changed the value of zetamax to
keep the model from becoming too stable.  It would be interesting to see
the difference between day/night for the z=100 case.

On Tue, Apr 30, 2019 at 2:37 PM Samuel Levis <notifications@github.com>
wrote:

[2019-05-01 00:00] slevisconsulting commented on #299
Switching to single-point simulation 1x1pt_NR1 (Niwot Ridge) using input data provided by @swensosc. Ran two years and plotted every timestep from year 2:
![ITLEF_yr2](https://user-images.githubusercontent.com/35322900/57000617-5a2ac000-6b69-11e9-915f-0251c4e225f1.JPG)

[2019-05-01 03:24] olyson commented on #691
Dave and I talked and thought that we would re-run a section near the end of a control historical simulation (the control being run with release-clm5.0.01) with a CTSM tag that enforces canopy liquid and snow capacities consistently (see issue#699).
So, our first comparison would be the tag with this change compared to the initial CLM release tag (release-clm5.0.01). We'd run and examine our regul

[2019-05-01 04:35] olyson opened #704 "FUN code logic to reduce or increase carbon allocation used for uptake is reversed"
### Brief summary of bug

This bug was first reported in Nov 2018 and subsequently investigated but an issue has not been filed until this point.
Carbon allocation to uptake responds to CN(uptake-cost) and CN(actual).  The intended implementation is: For C:N less than the target C:N, C allocation is reduced with cost. For C:N greater than the target C:N, C allocation is increased with high C:N.  H

[2019-05-01 11:47] billsacks commented on #277
We have a number of tests that are simply there so that we have test coverage of a particular compset or grid. For example, I just added these tests:

[code]

These don't increase code coverage much, if at all (note that we also have a longer ERP debug test of the Nwp configuration), but it felt like we should have at least one test of each of these compsets, and at least one test of the nldas2 gr

[2019-05-01 16:57] #451 closed

[2019-05-01 16:57] #452 closed

[2019-05-01 17:02] billsacks commented on #642
@ekluzek this issue auto-closed because I fixed it on master, but I think it still needs to be fixed in the release branch. So I'll reopen it and label it appropriately.

[2019-05-01 17:14] #699 closed

[2019-05-01 21:46] ekluzek opened #705 "Ball-Berry parameters in CLM5.0 should go back to the previous values in CLM4.5"
Gordon Bonan brings this up. The Ball-Berry parameters were adjusted in an attempt to tune CLM5.0, and the tuning wasn't satisfactory. The satisfactory tuning involved the new Medlyn photosynthesis. So if you use Ball-Berry in CLM5.0 you should use the previous values rather than the new ones.

[2019-05-01 21:55] slevisconsulting commented on #299
@billsacks @barlage
In the context of the NWP configuration, where ITLEFmax = 3, I believe that the following change (quoting from an earlier post) would be beneficial:

[2019-05-02 05:36] ekluzek opened #706 "Add a cmip6_nociso_deck user-mods directory for 2-degree"
For 2-degree CMIP6 deck experiments we need a cmip6_nociso_deck user-mods directory that is the same as cmip6_deck, but the Carbon isotopes are turned off.

@fvitt

[2019-05-02 06:09] ekluzek commented on #706
The plan will be for 2-degree grids to trigger this when _CLM50%[^_]*CMIP6DECK[%_] compsets are matched. So %CMIP6DECK will trigger either cmip6_deck or cmip6_nociso_deck depending on resolution.

[2019-05-02 17:39] billsacks commented on #705
My understanding (without looking carefully) is that this impacts cases that use clm50 physics but manually change to using Ball-Berry, or turn PHS off (which also causes you to revert to Ball-Berry); this also impacts the new NWP configuration, which uses Ball-Berry by default.

Since clm4.5 uses a different params file, I'm guessing that is *not* affected, but I haven't actually checked that mys

[2019-05-02 21:40] fischer-ncar commented on #673
I've generated a new fsurdat file using release-clm5.0.20 for ne120np4.  I'm getting a similar error.  When I switch to an older fsurdat, I don't get the error.

371: check_weights ERROR: at g =       492658 total PFT weight is
371:   1.58000000000000      active_only =  F
371: check_weights ERROR: at g =       492658 total col weight is
371:   1.58000000000000      active_only =  F
371: check_wei

[2019-05-03 01:46] bishtgautam commented on #299
In addition to the suggestions mentioned in the [comment above](https://github.com/ESCOMP/ctsm/issues/299#issuecomment-484682875), one more suggestion would be to focus only a single timestep for which ITLEF is reaching ITLEFmax. Then, try to understand why the solution isn't converging fast enough. Is the solution oscillating between iterations? Or, just converging too slowly. If possible, it wou

[2019-05-03 15:31] olyson commented on #691
I've done a GSWP3 BGC historical 1989-2014 run with ctsm1.0.dev039 (includes removing the temperature dependence of canopy liquid and snow capacities) and compared it to a run with release-clm5.0.01.
Diagnostics are here:

http://www.cgd.ucar.edu/tss/clm/diagnostics/ctsm_dev/index.html

Differences in our key flux and state variables are very small.  Larger than roundoff but definitely not climate

[2019-05-03 16:49] ekluzek commented on #697
OK, comparing the old and new masks, I *thought* the change was just over Antartica at first. But, looking up close it's around all coastlines. I'm generating new maps and will do some evaluation of the difference it makes.

[2019-05-03 17:24] ekluzek commented on #277
I've been thinking about this and this could make a lot of sense and make it easier/faster to run testing on branches. That said there are some caveats to this.

It's usually hard to expect what might change answers. So it would be a problem if not enough configurations are compared in the baseline comparison. Another thing that happens is that it can be useful to have shorter tests of more or les

[2019-05-03 17:59] billsacks commented on #691
Great, thanks a lot @olyson ! I'll close this issue, and we'll consider redoing something like this again in a couple of months.

[2019-05-03 17:59] #691 closed

[2019-05-03 20:02] ekluzek commented on #697
The difference in the mask does make some difference over all coastlines for f09 surface datasets, but interior looks unaffected. While the upgrade to the high resolution dataset does have an impact on the interior as expected. So the difference between the two masks isn't too big of a deal, but, we might as well get the correct masks going out of the box.

[2019-05-03 22:12] #680 closed

[2019-05-04 21:10] ekluzek commented on #706
Fixed in release-clm5.0.21

[2019-05-04 21:10] #706 closed

[2019-05-04 21:11] ekluzek commented on #700
Fixed in release-clm5.0.21

[2019-05-04 21:11] #700 closed

[2019-05-04 21:11] ekluzek commented on #678
Fixed in release-clm5.0.21

[2019-05-04 21:11] #678 closed

[2019-05-04 21:12] ekluzek commented on #672
Fixed in release-clm5.0.21

[2019-05-04 21:12] #672 closed

[2019-05-04 21:12] ekluzek commented on #664
Fixed in release-clm5.0.21

[2019-05-04 21:12] #664 closed

[2019-05-04 21:13] ekluzek commented on #642
Fixed in release-clm5.0.21

[2019-05-04 21:13] #642 closed

[2019-05-04 21:15] ekluzek commented on #262
Partially fixed in Fixed in release-clm5.0.21, now needs new mapping files.

[2019-05-05 00:19] slevisconsulting commented on #299
Interesting new plots posted (3 posts up from here).

[2019-05-08 03:11] slevisconsulting commented on #299
Next plots from single-point simulation **no_reinit_NR1**
Same as 1x1_NR1 but stopped reinitializing Ts and qs at every timestep.
I restarted the simulation in the middle of year 2 to write out the progression of variables taking part in the iterative solution of Tv. For example...

![dele_and_det_d9](https://user-images.githubusercontent.com/35322900/57346548-bfe7f080-7103-11e9-806c-7136db7c2c71.

[2019-05-08 19:30] ekluzek opened #707 "Missing mapping files for hirespft"
Mapping files are missing for hirespft for these resolutions: 0.125x0.125,ne4np4,ne16np4,ne120np4,ne240np4.

This is in release-clm5.0.22

[2019-05-09 02:58] slevisconsulting commented on #299
Same simulation as previous post but plotting Tv and Eq. (2.5.128) as suggested by @bishtgautam

The figures show that Eq. (2.5.128) oscillates around 0 when Tv doesn't converge and Eq. (2.5.128) gets close to zero when Tv converges:
![tv_and_eq2 5 128_d9](https://user-images.githubusercontent.com/35322900/57424159-96929780-71cb-11e9-84e5-b5c2a661d5d9.JPG)
![tv_and_eq2 5 128_d14](https://user-imag

[2019-05-09 04:51] bishtgautam commented on #299
For the timestep that corresponds to "part of Day 9 Year 2" mentioned in [this comment](https://github.com/ESCOMP/ctsm/issues/299#issuecomment-490724334), I would guess either eq. (2.5.128) has a discontinuity (in value or in slope) or the approximation of the derivative of eq. (2.5.128) is not accurate enough (Text below eq. (2.5.132) describes certain partial derivative terms are neglected).

Yo

[2019-05-09 20:52] klindsay28 opened #708 "time_bnds not set by tools/ncl_scripts/getco2_historical.ncl"
tools/ncl_scripts/getco2_historical.ncl
takes a greenhouse gas file used by CAM and produces one usable by streams

The script defines the variable `time_bnds` in the generated file, but never sets its value. So the values of `time_bnds` in the generated file end up being set to FillValue. While this is not a problem for datm, it does cause problems for other tools trying to parse the time variabl

[2019-05-09 21:07] ekluzek commented on #708
@klindsay28 yes I should be able to fix that. I'm also working on getting the CO2 files in place. Do we want this fix in for the CESM2.1.1 release?

[2019-05-09 21:12] klindsay28 commented on #708
I can work around the issues that I've encountered because of this, so I don't think it is urgent.
So I would not consider this as must have for the 2.1.1 release.

[2019-05-10 00:15] slevisconsulting commented on #299
Thank you @bishtgautam. Let me make sure I didn't misunderstand your suggestion:
- I ran the model up to the time step before the time step of interest to generate a restart file
- I restarted and ran the time step that was reaching ITLEF = 40 in "day 9" but now with the following modifications:
- Initial taf = 284.23  which is canopy air temperature and one of two variables used to initialize the

[2019-05-10 00:49] bishtgautam commented on #299
@slevisconsulting, Thanks for pursuing my suggestions and the plots. Here are few answers/comments

That is exactly the way to go about.

The "part of Day 9 Year 2" plots mentioned in [this comment](https://github.com/ESCOMP/ctsm/issues/299#issuecomment-490724334) showed eq. (2.5.128) is between 4 and -1 [Wm^{-2}] for Tv between 284.23 and 284.18K. So, my suggestion was to pick a dt_veg such that

[2019-05-10 02:02] slevisconsulting commented on #299
First things first: I'm replacing the first of the two figures in the last post due to an error.

I also noticed that the values of eq. (2.5.128) and of Tv were much different, so I did two things:

1) I restarted without the code changes and confirmed bit-for-bit same answers as from the continuous run without the restart. This confirmed that I ran the test for the correct time step that reached

[2019-05-10 02:08] slevisconsulting commented on #299
Here are the Tv versus Eq. 128 and Eq. 129_denom:

![tv_v_eq2 5 128_d9_wMODS](https://user-images.githubusercontent.com/35322900/57497698-9fe43880-728d-11e9-8237-1f40b0b6ed57.JPG)
![tv_v_eq2 5 129denom_d9_wMODS](https://user-images.githubusercontent.com/35322900/57497699-a07ccf00-728d-11e9-8b0e-5f0ec34b22c5.JPG)

[2019-05-10 18:52] billsacks opened #709 "QDRIP diagnostic field misleadingly named"
The QDRIP diagnostic field is defined as:

[code]

The short and long name give the impression that this just includes water that hits the canopy and then falls through. (From https://en.wikipedia.org/wiki/Throughfall - "In Hydrology, throughfall is the process which describes how wet leaves shed excess water onto the ground surface. These drops have greater erosive power because they are heavier

[2019-05-10 19:10] swensosc commented on #709
I agree that qdrip should just be the amount of precip that is intercepted and then reaches the ground. Qthroughfall would be the water reaching the ground. As lai goes to zero qthroughfall should go to total precip. Not sure if these terms should be separated by phase

Sent from my iPhone

[2019-05-10 19:28] billsacks commented on #709
Thanks for your thoughts @swensosc

We already have QFLX_RAIN_GRND and QFLX_SNOW_GRND, which give the total amount of liquid water and snow reaching the ground, though those are inactive by default. qflx_prec_grnd_patch is the sum of those. I'm not sure 'QTHROUGHFALL' is the right name based on the wikipedia definition of throughfall. Maybe QFLX_PREC_GRND? (though it also includes irrigation, so "

[2019-05-10 19:32] klindsay28 commented on #708
@ekluzek, while you're at it, could you also change attribute named `lname` in the generated file to `long_name`. `lname` is not a standard attribute for netCDF metadata, while `long_name` is.

I can put this in a separate issue if you prefer.

[2019-05-10 19:48] swensosc commented on #709
Qdrip would be the flux from h2ocan

Sent from my iPhone

[2019-05-10 19:53] billsacks commented on #709
So do you mean `qflx_liqcanfall`? (On master that's a local variable, but on the branch I'm working on, I have moved that to WaterFluxType, so it's easy for me to add a diagnostic field for it if that's what you want.)

[2019-05-10 20:22] olyson commented on #709
Removing/renaming QDRIP shouldn't break anything in the diagnostics package.  I don't think any of our standards scripts rely on that.

[2019-05-10 21:34] billsacks opened #710 "fcansno shouldn't depend on dewmx"
In the parameter extraction of ctsm1.0.dev040, this code in CanopyHydrologyMod.F90:

[code]

was changed to:

[code]

However, this looks wrong to me: I think this should be simply:

[code]

i.e., fcansno should only depend on `sno_stor_max`, not on `dewmx`. (And that change would agree with `snocanmx` earlier in the module.)

Currently, the two give the same answers because dewmx is set to 0.1 on

[2019-05-10 23:17] slevisconsulting commented on #710
Bill, you may be right, but first full disclosure, the definition of snocanmx earlier in the module used to say:
`snocanmx = 60._r8*dewmx(p) * (elai(p) + esai(p))  ! 6*(LAI+SAI)`
...and I changed it to
`snocanmx = params_inst%sno_stor_max * (elai(p) + esai(p))  ! 6*(LAI+SAI)`
because of the comment at the end of the line which indicates the value of sno_stor_max.

In the line that you're discussin

[2019-05-13 17:21] billsacks commented on #710
@slevisconsulting thanks for clarifying this and raising these additional points. I see that it's unclear what's right here, but I do think we want to be consistent between these two uses of sno_stor_max. Can you please talk to the relevant people to determine what's desired here - i.e., if someone changes dewmx without changing anything else, do they expect snocanmx and fcansno to change?

[2019-05-13 20:34] billsacks commented on #709
Clarifications from @swensosc

Throughfall does include precipitation that never hits the canopy.

QDRIP - `qflx_liqcanfall` - default inactive

QDRIP_SNOW - `qflx_snocanfall` - default inactive

QDIRECT_THROUGHFALL - `qflx_through_rain` - default inactive

QDIRECT_THROUGHFALL_SNOW - `qflx_through_snow` - default inactive

We'll get rid of a variable giving `qflx_prec_grnd_patch`.

[2019-05-13 22:42] ekluzek commented on #708
OK, looks like these are the changes needed:

[code]

[2019-05-13 23:27] slevisconsulting commented on #710
@billsacks , Sean's response seems clear, so I can go ahead with this. One question though... Should I go back and modify the param files again to rename the two parameters as Sean recommends?

[2019-05-14 01:14] slevisconsulting commented on #710
1) Made only the two parameter name-changes in the code.
2) Ran the test  ERS_D_Ld10.f10_f10_musgs.I2000Clm50BgcCropGs.cheyenne_intel.clm-rm_indiv_lunits_and_collapse_to_dom  and confirmed BFB against dev040. First Commit.
3) Made Sean's change to fcansno: the test returns not bfb anymore. Second commit.
4) Generated baseline for above test.
5) Updated fwet to the same format as fcansno: test comp

[2019-05-14 02:47] billsacks commented on #710
@slevisconsulting given that this changes answers, can you please hold off on doing full testing for a few days? I have massively reworked CanopyHydrology such that any changes you make probably will not merge cleanly with mine. I get nervous when merging two answer-changing tags together, especially when the merge needs to be done by hand. So I think it will be safest if you wait to do full testi

[2019-05-14 19:25] slevisconsulting commented on #710
@billsacks I hope this thought doesn't arrive too late:
If you're reworking CanopyHydrology, then Sean's changes are minor enough that they could be folded into your reworking, no?

[2019-05-14 21:31] ekluzek opened #711 "Model assumes the closest SSP scenario for ndep"
### Brief summary of bug

For CMIP6 SSP scenarios the model is setup for all 8 scenarios. The four Tier I scenarios have ndep files for them. The other scenarios use the closest one available for CLM5.0, and uses the closest CMIP5 RCP for CLM4.5.

We will change this so that if the dataset is not available, it won't run, rather than silently running with the wrong file. Then the user can decide if

[2019-05-14 22:58] billsacks commented on #710
@slevisconsulting I'd prefer to keep this separate, particularly because it involves some answer changes. (I don't like mixing together unrelated answer-changing things.)

Also: what do you think about @swensosc 's suggestion of changing these to be pft-dependent?

[2019-05-14 23:10] billsacks commented on #277
(Side note: If we have two separate test categories, we could have an argument to run_sys_tests that runs all of the standard pre-tag tests: that argument would know the different test suites that are needed for standard pre-tag testing, and would run separate create_test invocations for each.)

[2019-05-14 23:34] slevisconsulting commented on #710
Sounds good.

I would not worry about making them pft-dependent, unless somebody is currently researching values to use for each pft. We have other scalars in the params file that should be pft-dependent, and it's easy to change any of them to pft-dependent when we obtain corresponding values for them.

[2019-05-15 04:38] ekluzek commented on #697
release-clm5.0.21 gets the right SCRIP grid file in place and release-clm5.0.22 puts in most of the needed mapping files in place.

[2019-05-15 04:38] #697 closed

[2019-05-15 04:39] #693 closed

[2019-05-15 04:46] ekluzek commented on #621
This has happened on the release-clm5.0 branch.

[2019-05-15 05:35] ekluzek opened #712 "Missing CO2 files for SSP1-1.9 and SSP4-3.4"
### Brief summary of bug

The CO2 files for SSP1-.1.9 and SSP4-3.4 are missing.

### General bug information

**CTSM version you are using:** release-clm5.0.22

**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:** Needed for CO2 time-series for those SSP's

### Details of bug

The CO2 files for SSP1-1.9 and SSP4-3.4 weren't produced until

[2019-05-15 09:42] slevisconsulting commented on #299
If Gordon's statement about oscillating FSH & FLH from time step to time step really meant from iteration to iteration leading to ITLEF = 40, then I did find such behavior. Looking for the source of the oscillations that prevent det and dele from converging, has led me to the circular dependencies between temperature/humidity and latent/sensible heat fluxes. Investigating with some of the above su

[2019-05-15 18:19] ekluzek opened #714 "Fails with cheyenne_gnu for some longer single point tests"
### Brief summary of bug

Some single-point tests are failing in what will be release-clm5.0.23 due to a memory error.

### General bug information

**CTSM version you are using:** release-clm5.0.22-9-g2d7371c
**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:**

ERS_Lm40_Mmpi-serial.1x1_numaIA.I2000Clm50BgcCropGs.cheyenne_gnu.clm-monthly

[2019-05-15 21:26] slevisconsulting commented on #299
I ran a new case with code modifications that enforce convergence.
The code mods apply if convergence criteria are not met for ITLEF > 15.
Convergence occurs by ITLEF = 17 due to '∆𝑇𝑣 = max (︀⃒⃒𝑇(𝑛+1)𝑣 − 𝑇(𝑛)𝑣⃒⃒ ,  ⃒⃒𝑇(𝑛)𝑣 − 𝑇(𝑛−1)𝑣⃒⃒)`

The plot shows the new Tv relative to the default Tv solutions.
![TVartif_conv_at17_v_TVdefault](https://user-images.githubusercontent.com/35322900/57810274-34cab

[2019-05-16 00:28] slevisconsulting commented on #299
Now back to the run without the fix...
Same "Day-9" example as before.
Here are the variables that make up Eq. 128 and Eq. 129 to show how they oscillate:

![tv_and_efe_d9](https://user-images.githubusercontent.com/35322900/57817784-dd394200-7735-11e9-8982-55bf1f72a95c.JPG)
![tv_and_efsh_d9](https://user-images.githubusercontent.com/35322900/57817785-dd394200-7735-11e9-918f-9a9ccd258552.JPG)
![tv_

[2019-05-16 00:59] billsacks commented on #714
If you rerun them, do the tests pass? I've been having a lot of trouble with long-running single-point tests on cheyenne, which I have guessed are due to the fact that they're running on shared nodes, so their success or failure may depend on what else is going on on the node at the time. You may want to look at which tests I have removed / modified on master: I did this after giving a fair amount

[2019-05-16 01:56] ekluzek commented on #714
I did have them rerun at least one extra time. Looks like all of these tests are also on master right now as well.

[2019-05-16 02:00] billsacks commented on #714
Have you tried running them from a tag from which they previously worked? If these are now failing from code from which they were passing before, then a cislhelp ticket seems warranted.

[2019-05-16 11:31] billsacks commented on #714
For what it's worth: A few months ago, I changed some of these tests on master: they are now:

`ERS_Lm40_Mmpi-serial.1x1_numaIA.I2000Clm50BgcCropQianGs.cheyenne_gnu.clm-monthly` - note use of Qian

`ERS_Lm54_Mmpi-serial.1x1_numaIA.I2000Clm50BgcCropQianGs.cheyenne_intel.clm-cropMonthOutput` - now on intel and uses Qian

`ERS_Ly20_Mmpi-serial.1x1_numaIA.I2000Clm50BgcDvCropQianGs.cheyenne_intel.clm-c

[2019-05-16 20:26] ekluzek commented on #714
I ran the shortest one from release-clm5.22 and it ran fine. I thought there might be a namelist or build difference between the versions, but I'm not seeing that. And I ran the 20 year one fine when I sent it to the premium queue. So it might just be the use of the share queue. So I'll ping CISL about it.

[2019-05-16 20:29] ekluzek commented on #714
Note, also that @rosiealice has run into this problem. Here's a snippet of a message from her

"The runs start off fine, they get through the first 20 years, and then die at some arbitrary point, without leaving an exit message in the log files, nor anything in the .o files, nor seemingly sending a PBS job email (I get PBS emails about the archive scripts, but not about the main runs.

Is this som

[2019-05-16 21:00] ekluzek commented on #714
I noticed that the repeat versions of this that I ran die at a similar time-step as the other -- but NOT exactly the same one. So that sounds more like a system or memory issue of some sort.

[2019-05-17 00:08] slevisconsulting commented on #643
Keeping @billsacks and @ekluzek in the loop:

@negin513 @bekozi and I met today. Negin and Ben worked in Negin’s environment (not using conda) to get Ben's script running. They started troubleshooting from the same error that I got in my attempts: “...requires PIO…”

Now Negin has a script that works with Ben’s source and destination datasets.

Next Negin and Ben tried running the script with a co

[2019-05-17 06:49] lvankampenhout commented on #573
In the past we've seen unrealistic sub-surface melt in Antarctica, caused by too low values for snow density, which inhibits heat conduction and thereby trapping heat until melting starts. Larger values for snow density/thermal conductivity fixed this. This would also provide an explanaition to what you are seeing @kjetilaas

Just checking: this bug should not impact glacier landunits right, becau

[2019-05-17 12:11] billsacks commented on #503
The part that actually deals with canopy hydrology is done (will come to master in ctsm1.0.dev041). The other pieces (fractions and snow initialization) still need to be done.

[2019-05-17 12:25] #360 closed

[2019-05-17 12:25] #709 closed

[2019-05-17 13:35] lvankampenhout opened #715 "CLM misses history variable for radiative surface temperature"
### Brief summary of bug
In CAM, history variable `TS` represents the radiative surface temperature. Over land, this is passed from CLM :

[code]
However, there is no equivalent history output field in CLM, and since the conversion from upwelling longwave radiation to radiative temperature is non-linear, it is also impossible to derive it afterwards.

For my application I need TS per elevation cla

[2019-05-17 14:59] ekluzek opened #716 "2-degree WACCM CMIP6DECK needs to match a no-ciso user-mod"
### Brief summary of bug

A compset with WACCM and CMIP6DECK for 2-degree should match a WACCM CMIP6 user-mod without Carbon isotopes turned on.

### General bug information

**CTSM version you are using:** release-clm5.0.22
**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:** WACCM at 2-degree with CMIP6DECK

### Details of bug

The matc

[2019-05-17 15:10] ekluzek commented on #716
@fvitt this is the fix I think is needed...

[code]

[2019-05-17 15:26] billsacks commented on #715
@lvankampenhout thanks for this good suggestion.

I'd like to better understand exactly what you'd like. We could make a diagnostic field that gives `t_rad_grc`. That would be easy, but that would just be gridcell-level. It sounds like you want something that is patch-level, which would involve doing the above calculation on the original patch-level version of `eflx_lwrad_out_patch`. Is that corre

[2019-05-17 17:26] bekozi commented on #643
@negin513, @slevisconsulting: I pushed a fix for the SCRIP grids (ncpp/ocgis#497) to master. Thankfully it was a quick one. I also added some new examples:
* [Chunked regridding with the example SCRIP grids](https://github.com/NCPP/ocgis/blob/d90d5bfc3ba323231b40c05a18cb7188bae74029/examples/CTSM-MapData-Workflow/do-chunked-rwg-ctsm-scrip.sh)
* [Getting a grid's spatial resolution](https://github.

[2019-05-17 17:31] ekluzek opened #717 "Change end year for ndep for SSP's to 2101"
### Brief summary of bug

We need to change the end year for ndep for the SSP's to 2101, so that it will run through the end of the year for 2100.

### General bug information

**CTSM version you are using:** branch_tags/relcisofix.n01_release-clm5.0.20
**Does this bug cause significantly incorrect results in the model's science?** [Yes / No]

**Configurations affected:** All SSP's

### Details of

[2019-05-17 18:07] billsacks commented on #701
This seems resolved, so closing.

[2019-05-17 18:07] #701 closed

[2019-05-17 19:26] klindsay28 commented on #717
@ekluzek, I'm curious about why the CESM2 CMIP6 ssp585 experiments didn't have this problem.

The ndep nml vars from the ssp585 experiments are
[code]

The ndep nml vars from the ssp126 experiment, with `stream_year_last_ndep=2101` in user_nl_clm, are
[code]

The ssp585 experiment is using ctsm tag release-clm5.0.20.
The ssp126 experiment is using branch_tags/relcisofix.n01_release-clm5.0.20.

Is

[2019-05-17 19:55] ekluzek commented on #717
@klindsay28 the change on ndep_taxmode to extend was intentional and is discussed in #700.

I suspect that the RCP5-8.5 case is likely doing the wrong thing at the end of 2100, by using the beginning of the time-series Jan-2015 to tie off the end of Dec/2100. We should check and see if that's the case, but it's pretty certain it is. That's definitely not the right thing to do, so the change to yea

[2019-05-17 19:55] billsacks opened #718 "Implement water tracers for HandleNewSnow and FracH2oSfc"
The next step in the tracerization of CTSM will be HandleNewSnow and FracH2oSfc. These are both things that had been part of CanopyHydrology until ctsm1.0.dev041.

[2019-05-17 20:05] olyson commented on #717
I looked at the lnd log file for b.e21.BSSP585cmip6.f09_g17.CMIP6-SSP5-8.5.001 and don't see any indication that it is looping back to 2015.  Since ndep_taxmode is = 'extend' that's what I would expect, but correct me if I'm wrong.

[2019-05-17 20:10] ekluzek commented on #717
OK, I was thinking it was cycle -- rather than extend. Some of @klindsay28 examples above have cycle in them. So the SSP585 case should just stay with the Dec/2100 value (which is what extend does), but the SSP126 case and @klindsay28 new SSP585 experiment -- probably wrongly cycle back to the beginning of the series.

[2019-05-17 20:14] olyson commented on #717
Since Nan changed to stream_year_last_ndep = 2101, it will use Jan 2101 to interpolate from, not 2015.  I confirmed this by looking at the log file.

[2019-05-17 21:13] klindsay28 commented on #717
It looks like the ssp126 experiment was run with a more recent tag than the ssp585 experiment, and the ssp126 experiment has `ndep_taxmode = 'cycle'`.

My reading of the conversation in #700 is that it suggests `ndep_taxmode = 'limit'`.

So I'm a bit confused about how `ndep_taxmode` is intended to be set.

[2019-05-17 21:59] olyson commented on #717
The ssp126 experiment had 'cycle' (which is the default).  The SSP585 had 'extend' because it had that in the user_nl_clm.
Erik has put 'limit' in a recent tag so that the model throws an error if it tries to loop back to 2015 when it reaches the end of the data.  But none of the current runs Nan is doing are using this more recent tag.
In any case, if stream_year_last_ndep=2101, it doesn't matter

[2019-05-18 00:22] olyson commented on #717
So, I think that if you want to replicate the SSP585 experiment, you  would do this:
ndep_taxmode = 'extend'
And leave this as is:
stream_year_last_ndep = 2100
Dec 16 - 31, 2100 would then use the Dec, 2100 mid-month value from the ndep file without interpolation.
The SSP585 ensemble members are self_consistent with this.

The other SSP simulations will be interpolating between the Dec, 2100 value

[2019-05-18 12:37] klindsay28 commented on #717
Thanks for the clarifications @olyson

[2019-05-20 19:01] billsacks commented on #673
I'm not sure if this is the source of the problem, but it seems like there could be a problem with this line:

https://github.com/ESCOMP/ctsm/blob/02f8258c5299e1e67f72cd8febaf4bc784183ebd/tools/mksurfdata_map/src/mksurfdat.F90#L708

If pctgla + pctlak > 100, we'd end up with pctwet negative, which probably wouldn't be handled properly in following code.

[2019-05-20 19:05] billsacks commented on #673
Ah, yes, I'm pretty sure that's exactly the source of the problem, based on looking back at my earlier comments and checking PCT_WETLAND (which I should have checked before):

[code]

This would explain why the other normalizations and error checks didn't catch the problem.

[2019-05-20 19:14] billsacks commented on #673
I'm not sure what the correct fix here. My first inclination was to simply change:

[code]

to:

[code]

However, I think that (along with the original code) wouldn't be quite right in the case where pctwet(n) was greater than 0 to begin with. For example, imagine that, going into this block of code, we had pctgla = 50, pctlak = 50 and pctwet = 50, for a point outside the pftdata mask. Then, upon

[2019-05-20 19:20] ekluzek commented on #673
A general thing we should do is to check for PCT of types being negative, and if so handle appropriately.

[2019-05-20 19:25] billsacks commented on #673
Actually, another possible fix would be to say: The real intent here is to make sure that there is *some* landunit present anywhere. If there is already some glacier or lake, we shouldn't need to do anything with wetland (just like, I believe: If we have anything more than 1e-6 pct vegetation, we don't do anything with wetland). Then we would replace this:

https://github.com/ESCOMP/ctsm/blob/02f8

[2019-05-20 19:59] billsacks commented on #673
Feeling from today's discussion:

On release:

[code]

and check to make sure it doesn't change any of our existing surface datasets.

On master, go with something like:

[code]

[2019-05-20 23:04] slevisconsulting commented on #643
Working in cheyenne:/gpfs/fs1/work/slevis/ocgis_work

Good news. I ran two scripts successfully:
1) time ./do-this-20190516.sh  ...that Ben and Negin got to work during our meeting last Thursday, which points to Ben's sample files:
- source: ll1280x1280_grid.esmf.nc
- destination: ll1280x1280_grid.esmf.subset.nc
- timing result: 12.956u 1.520s 0:14.87 97.3%
2) time ./do-this-20190520.sh  ...modifi

[2019-05-20 23:25] billsacks commented on #715
@lvankampenhout - @dlawrenncar pointed out that there is a TSKIN diagnostic variable at the patch-level that gives basically what you want. It's not exactly the same as what CAM sees, but it's better in some sense, in that it uses the actual emissivity of each patch. Does that give you what you need, or do you need exactly what's sent to CAM? (If the latter: Since there is already this TSKIN varia

[2019-05-21 09:05] kjetilaas commented on #573
This issue was solved with a small correction in the snow compaction code, which I pointed out and @swensosc provided a fix for. I am not sure why this has not been included in the new releases, but it was a clear bug.

[2019-05-21 15:12] billsacks opened #721 "Implement water tracers for CanopyTemperature"
There are a few water variables set here.

[2019-05-21 15:13] billsacks opened #722 "Implement water tracers for BareGroundFluxes"
Note that BareGroundFluxes is the first place where we need to deal with fractionation.

[2019-05-21 15:13] billsacks opened #723 "Implement water tracers for CanopyFluxes"

[2019-05-21 15:14] billsacks opened #724 "Implement water tracers for UrbanFluxes"

[2019-05-21 15:14] billsacks opened #725 "Implement water tracers for LakeFluxes"

[2019-05-21 16:26] ekluzek commented on #673
I added a check for negative percent types and found that most of the high resolution cases have this problem while mid or low resolution do not. So ne60np4, 360x720cru, 0.125x0.125, f05, f02 as well as conus30x8, ne120, ne240 as we already know fail. But f09, f19, f10, f45 are all fine for example.

[2019-05-21 18:41] billsacks commented on #722
A note from David Noone:

---------

Just took a quick look at the Bareground fluxes (canopyfluxes are similar)

The original code is:

[code]

For the tracers, one could write (excuse my pseudo code, and variable names):

[code]

What I had in mind was setting up the code infrustructure to allow
this type of calculation, with the elegance of the way you're coding
it up.

[2019-05-21 18:46] ekluzek opened #726 "Some resolutions fail for mksurfdata_map"
### Brief summary of bug

I'm finding some resolutions that fail to run in mksurfdata_map. Specifically: 32x64, 8x16, 94x192

### General bug information

**CTSM version you are using:** release-clm5.0.23-6-g0115e09
**Does this bug cause significantly incorrect results in the model's science?** No

**Configurations affected:** 32x64, 8x16, 94x192

### Details of bug

One gives an error in soil, on

[2019-05-21 19:35] billsacks commented on #573
@lvankampenhout My understanding is also that glacier landunits should not be affected.

@kjetilaas sorry that we lost track of this issue! Before we bring this to master, we need to check its impact in a global run. @swensosc will do the necessary run soon.

[2019-05-21 21:16] ekluzek commented on #726
94x192 might be useful since it's the resolution of the lightning dataset. I've created all the mapping files and now it works. I'm removing the other two resolutions though.

[2019-05-21 23:39] slevisconsulting commented on #643
Comparing the output from (2) in the previous post to the output from running mkmapdata.sh:

**ncdump -h weights_0520.nc**
netcdf weights_0520 {
dimensions:
        n_s = 161480 ;
variables:
        int row(n_s) ;
        int col(n_s) ;
        double S(n_s) ;
}

**ncdump -h map_0.5x0.5_AVHRR_to_4x5_nomask_aave_da_c190516.nc**
netcdf map_0.5x0.5_AVHRR_to_4x5_nomask_aave_da_c190516 {
dimensions:

[2019-05-22 05:33] #710 closed

[2019-05-22 19:12] bekozi commented on #643
@slevisconsulting Is it possible to include the regridding commands that generated these weight files? It would be useful to verify the same flags are being used. Thanks!

[2019-05-22 20:31] #717 closed

[2019-05-22 20:31] #716 closed

[2019-05-22 20:32] ekluzek commented on #714
Closing since I changed the test list on the release match as we did on ctsm/master so the tests aren't failing.

[2019-05-22 20:32] #714 closed

[2019-05-22 20:33] #712 closed

[2019-05-22 20:33] #711 closed

[2019-05-22 20:33] #708 closed

[2019-05-22 20:35] ekluzek commented on #661
Added on the release-clm5.0 branch

[2019-05-22 20:35] #661 closed

[2019-05-22 21:21] billsacks opened #728 "Allow users to specify soil layer structure more flexibly"
Rather than (or maybe in addition to?) having a fixed, predefined set of possible soil layer structures, we'd like to let the user specify the soil layer structure arbitrarily via a namelist setting. The user would probably specify a vector of layer thicknesses, though the details of the "user interface" still need to be worked out.

This has been raised as a high priority need by @barlage and Sta

[2019-05-22 21:27] billsacks opened #729 "Allow users to specify snow layer structure more flexibly"
The current snow layer structure is hard-coded. We should probably let users specify this more flexibly, as in #728 .

Details of the "user interface" still need to be worked out. For example, there are currently separate min and max depths for each layer; should we allow/force the user to specify these independently, or should we have the user specify a single layer structure from which we derive

[2019-05-22 21:43] ekluzek commented on #705
CLM4.0 had: 9, 6, 6, 6, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 5, 9, 9, 4, 9, 9, 9
CLM4.5 has: 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 4, 9, 9, 4, 4, 9, 9 note 2nd-4th are 9 rather than 6, 15th is 4 rather than 5 and 19 is 4 rather than 9
CLM5.0 has: 9, 4.4713363873471, 7.10166797896943, 7.10166797896943,
    7.29147600379525, 7.10166797896943, 7.1797077457757, 7.10166797896943,
    7.10166797896943, 7.1

[2019-05-22 22:08] ekluzek commented on #413
This is working now.

[2019-05-22 22:08] #413 closed

[2019-05-22 22:11] ekluzek commented on #262
Now, fixed on the release branch. Needs to be moved to master.

[2019-05-22 22:15] ekluzek commented on #148
There is the option to turn this on if desired. So closing.

[2019-05-22 22:15] #148 closed

[2019-05-23 15:13] billsacks opened #730 "Proposed rework of issue labels"
Motivated by recent conversations with @ekluzek , I'd like to propose the following changes to our issue labels. I don't feel super strongly about any of this, but I think these changes will help make our issue labeling easier to use, both at the time of assigning labels, and in later searches.

(1) For "type" labels: Add a prefix of "c" for types that require changes to the repository (e.g., "typ

[2019-05-23 15:14] billsacks commented on #730
@ekluzek let me know if you have thoughts on this, via comments in this issue or in person. If you don't have any further thoughts, I'll go ahead and make the proposed changes and we can try them out to see if things feel smoother that way.

[2019-05-23 19:24] billsacks opened #731 "Try to speed up interpMonthlyVeg"
In runs of the NWP configuration with NLDAS grid performed by @barlage , he found that interpMonthlyVeg was taking more than 50% of the total run time. I have tried to reproduce his runs using ctsm1.0.dev042 and `./create_newcase --case nwp_nldas_0523a --compset I2000Ctsm50NwpSpNldasRsGs --res nldas2_rnldas2_mnldas2`. I ran a few one or two-month runs, with `./xmlchange TIMER_DETAIL=10,TIMER_LEVEL

[2019-05-23 19:25] billsacks commented on #731
cc @negin513

[2019-05-23 19:26] billsacks commented on #316
@ekluzek @olyson I think this is done, right? Can we close this issue?

[2019-05-23 20:11] ekluzek commented on #316
Yes, we now have the ability to do heat stress indices for three different levels. Turn all the way off, turn the expensive ones off, or do everything.

[2019-05-23 20:11] #316 closed

[2019-05-23 20:51] timhoar opened #732 "CLM vector-format history files and restart files pfts1d_wt varnames"
As far as I can tell, the PFT weight variables names with the same long_name attribute could be made more consistent in the CLM vector-format history files and the CLM restart files.

In the CLM restart files, the variable is  pfts1d_wtxy
In the CLM vector  files, the variable is  pfts1d_wtgcell

ditto for pfts1d_wtlnd  and   pfts1d_wtlunit

        double pfts1d_wtxy(pft) ;
                pfts1d

[2019-05-23 21:12] billsacks commented on #300
One other possible performance improvement could be creating filters of points that have changed in area in this time step. It may be that we could use these filters (which would often have 0 points in them) for some operations.

[2019-05-23 22:24] ekluzek commented on #730
@billsacks I think I like this -- other than "c" versus "nc". I like those two categories, but would like the "c" and "nc" to be more explicit. Maybe "change" vs "no-change"?

[2019-05-24 02:01] billsacks commented on #732
Good point. This has bugged me before, though never enough to motivate me to actually do something about it.

I can see two main barriers to addressing this:

(1) How many people have scripts that depend on the current names, for either history or restart files?

(2) If we change the restart file names, we need to do this in a backwards-compatible manner. We have an easy mechanism for changing mos

[2019-05-24 02:10] billsacks commented on #730
@ekluzek Thanks for your feedback. You're right that "c" versus "nc" is confusing. However, I'm inclined to take this in a different direction, making the mechanism for separating these two categories more subtle rather than more pronounced, using something like an underscore for the "no-change" labels (so we'd have `type: _discussion`, etc.). The way I see it, the main goal here is just to group

[2019-05-24 02:15] billsacks commented on #730
I'm also going to shorten some labels: `type: needs investigation` -> `type: _investigation`, and `type: support needed` -> `type: _support`.

[2019-05-24 02:24] billsacks commented on #730
Apparently an underscore doesn't affect GitHub's sort order. A dash does (and of the many [but not all] special characters I tried, it was the only one that did) so I'll use that.

[2019-05-24 02:29] billsacks commented on #453
@rgknox just going through some old issues. Is this still something you'd like feedback on, or should we close it (apologetically) since it never generated any discussion?

[2019-05-24 11:22] billsacks commented on #556
@timhoar I'm going through some old issues. Sorry you never received a reply here. Do you still need help with this, or should we close this issue?

[2019-05-24 12:10] billsacks commented on #730
Reviewing the issues with label, `type: enhance - science`, I realized that there are a handful that really represent big science developments, and it does feel worthwhile calling this out explicitly. I'm introducing a new tag, `tag: en - major new science` to capture these. (Apologies for the shortened "en" rather than "enhancement": I had a hard time fitting the label on one line.) I realize thi

[2019-05-24 12:45] billsacks commented on #513
Closing this old issue.

[2019-05-24 12:45] #513 closed

[2019-05-24 12:50] billsacks commented on #730
Okay, I have reworked the issue labels as per this discussion, and have updated the wiki page (https://github.com/ESCOMP/ctsm/wiki/Issue-Labels). I have also added some helpful starting points for issue searches to that page (https://github.com/ESCOMP/ctsm/wiki/Issue-Labels#some-good-starting-points-for-issue-searches).

[2019-05-24 12:50] #730 closed

[2019-05-24 14:16] swensosc commented on #732
I use the vector output for the hillslope branch.  I have also used it for
crop related studies.  History files in both cases.  It might be worth
having both history and restart use a consistent three letter form that's
used in some other places: grc, lun, col, pft rather than things like
gcell, lunit, etc.

On Thu, May 23, 2019 at 8:01 PM Bill Sacks <notifications@github.com> wrote:

[2019-05-24 14:32] olyson commented on #732
I use the vector output quite a bit, for producing pft-level plots and for processing urban data at the column and landunit level.  I also have a couple of scripts that process restart files, but these are used infrequently, and could be changed easily if we decide to change names on the restart files.

[2019-05-24 14:51] timhoar commented on #556
Good timing ... I am getting back into this and will surely need some
help.  When I get to the point where it is clear I have a grasp of the
problem and can articulate it,
I'll get back to you.

Thanks for following up.

Tim Hoar
Data Assimilation Research Section
National Center for Atmospheric Research
thoar@ucar.edu
303.497.1708

On Fri, May 24, 2019 at 5:22 AM Bill Sacks <notifications@github.

[2019-05-24 14:59] timhoar commented on #732
Thanks for the discussion. This is a low-level nuisance that I thought I'd
bring up that might make it easier for 'future generations' of CLM users.
My workflow handles both restart and vector-based history, so I'm good.

Cheers --

Tim Hoar
Data Assimilation Research Section
National Center for Atmospheric Research
thoar@ucar.edu
303.497.1708

On Fri, May 24, 2019 at 8:32 AM Keith Oleson <notific

[2019-05-24 15:20] billsacks commented on #732
@swensosc @olyson - do you feel it would be a pain (for you or others) if we changed the names on the history files?

[2019-05-24 15:36] billsacks opened #733 "Make h2osno purely a diagnostic variable"
Currently, h2osno is used in two ways:

1. When there are explicit snow layers, h2osno is the sum of snow (liquid + ice) in all layers

2. When there is a little bit of snow, but not enough to create a snow layer, h2osno gives the amount of this very thin snow pack (assumed to be all ice)

This is confusing and complicates the addition of water tracers to the code. I am separating h2osno into two